<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Progreso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let questionsSection of questionsSections"
    class="section {{ tests ? getSuccessRateColor(questionsSection.section) : 'grey' }}">
    <ion-label class="section-name">{{ questionsSection.section }}</ion-label>
    <ion-label class="success-rate" *ngIf="tests">{{ getSectionSuccess(questionsSection.section) }}</ion-label>
    <ion-label class="success-rate" *ngIf="!tests">0%</ion-label>
  </ion-card>
</ion-content>
