<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Regla 11: El fuera de juego</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="pagina == 0">
    <h2>
      <b>1. Posición de fuera de juego</b>
    </h2>
    <p>
      <br />
      El hecho de estar en posición de fuera de juego no constituye infracción. Se considera que un jugador está en posición de fuera de juego cuando:
    </p>
    <ul>
      <li>
        su cabeza, tronco o pierna (pie incluido) se encuentran, total o parcialmente, en la mitad del terreno de juego adversario (excluyendo la línea central) y
      </li>
      <li>
        su cabeza, tronco o pierna (pie incluido) se encuentran, total o parcialmente, más cerca de la línea de meta contraria que el balón y el penúltimo adversario.
      </li>
    </ul>
    <p>
      <br />
      A la hora de determinar si un jugador está en posición de fuera de juego, no se tendrán en consideración las manos ni los brazos de los jugadores, tampoco en el caso de los guardametas.
    </p>
    <p>
      <br />
      No estará en fuera de juego aquel jugador que se encuentre a la misma altura que:
    </p>
    <ul>
      <li>
        el penúltimo adversario o
      </li>
      <li>
        los dos últimos adversarios.
      </li>
    </ul>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 1">
    <h2>
      <b>2. Infracción por fuera de juego</b>
    </h2>
    <p>
      <br />
      Únicamente se sancionará a un jugador en posición de fuera de juego en el momento en que el balón toca o es jugado* por un compañero de equipo si    llega a participar en el juego de forma activa de una de las siguientes maneras:
    </p>
    <ul>
      <li>
        interfiriendo en el juego, al jugar o tocar un balón pasado o tocado por un compañero;
      </li>
      <li>
        interfiriendo en el juego de un adversario de una de las siguientes maneras:
      </li>
    </ul>
    <p>
      <br />
      *Se tendrá en cuenta el primer punto de contacto en el momento de «jugar» o «tocar» el balón.
    </p>
    <ul>
      <li>
        impidiendo que juegue o pueda jugar el balón, al obstruir claramente el campo visual del adversario;
      </li>
      <li>
        disputándole el balón;
      </li>
      <li>
        intentando jugar claramente un balón cercano mediante una acción que tenga un impacto en un adversario;
      </li>
      <li>
        realizar una acción que afecte claramente a la posibilidad de un adversario de jugar el balón;
      </li>
    </ul>
    <p>
      <br />
      o bien:
    </p>
    <ul>
      <li>
        sacando ventaja de dicha posición al jugar el balón o interferir en el juego de un adversario cuando el balón:
        <ul>
          <li>
            haya sido desviado o haya rebotado en un poste, en el travesaño, en un miembro del equipo arbitral o en un adversario;
          </li>
          <li>
            haya sido «salvado» por un adversario.
          </li>
        </ul>
      </li>
    </ul>
    <p>
      <br />
      Se considerará que un jugador en posición de fuera de juego no ha sacado ventaja de dicha posición cuando reciba el balón de un adversario que juega voluntariamente el balón, incluida la mano voluntaria, a menos que se trate de una «salvada» por parte de un adversario.
    </p>
    <p>
      <br />
      Una «salvada» es una acción de un jugador cuyo fin es detener o desviar el balón, o intentar detener o desviarlo, cuando este va en dirección a la portería o muy cerca de ella con cualquier parte del cuerpo excepto con las manos o los brazos (a menos que se trate del guardameta en su propia área penal).
    </p>
    <p>
      <br />
      En este sentido, nótese lo siguiente:
    </p>
    <ul>
      <li>
        si un jugador que sale de una posición de fuera de juego o que se encuentra    en dicha posición estuviera en la trayectoria de un adversario e interfiriera    en el movimiento de este último hacia el balón, se considerará infracción por fuera de juego si afecta a la capacidad del adversario de jugar o disputar el balón; si dicho jugador se coloca en la trayectoria de un adversario e impide   el avance de este (p. ej. le obstaculiza el paso), deberá penalizarse la   infracción en virtud de la Regla 12;
      </li>
      <li>
        si un jugador que se encuentra en posición de fuera de juego se desplaza hacia el balón con la intención de jugarlo y es objeto de una falta antes de jugar o intentar jugar el balón, o disputárselo a un adversario, se penalizará dicha falta por haberse cometido antes de la infracción por fuera de juego;
      </li>
      <li>
        si se comete una infracción contra un jugador en posición de fuera de juego que ya está jugando o intentando jugar el balón, o disputándole el balón a un adversario, se penalizará la infracción por fuera de juego por ser previa a la falta.
      </li>
    </ul>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 2">
    <h2>
      <b>3. Situaciones que no constituyen infracción</b>
    </h2>
    <p>
      <br />
      No existirá infracción por fuera de juego cuando un jugador reciba un balón que procede directamente de:
    </p>
    <ul>
      <li>
        un saque de meta;
      </li>
      <li>
        un saque de banda;
      </li>
      <li>
        un saque de esquina.
      </li>
    </ul>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 3">
    <h2>
      <b>4. Infracciones y sanciones</b>
    </h2>
    <p>
      <br />
      En caso de infracción por fuera de juego, el árbitro concederá un libre indirecto en el lugar donde se produjo, incluso si el jugador infractor se encontrara en su propio campo.
    </p>
    <p>
      <br />
      A efectos de determinar el fuera de juego, si un defensor saliera del terreno de juego sin la autorización del árbitro, se considerará que el jugador está situado en la línea de meta o de banda hasta que se detenga de nuevo el juego o hasta que el equipo defensor haya jugado el balón hacia la línea central y se encuentre fuera  de su área penal. Si el defensor ha abandonado premeditadamente el terreno de juego, deberá ser amonestado en cuanto deje de estar en juego el balón.
    </p>
    <p>
      <br />
      Los jugadores del equipo atacante podrán salir del terreno de juego o permanecer fuera de él para no participar de forma activa en el juego. Si un atacante volviera a entrar por la línea de meta y participara en la jugada antes de que se detenga de nuevo el juego, o antes que el equipo defensor haya   jugado el balón hacia la línea central y se encuentre fuera de su área penal, se considerará que está situado en la línea de meta a efectos de determinar el fuera de juego. Se amonestará a todo jugador que salga premeditadamente del terreno de juego, vuelva a entrar sin la autorización del árbitro y no sea sancionado por fuera de juego pero obtenga una ventaja por ello.
    </p>
    <p>
      <br />
      Si un jugador del equipo atacante permaneciera inmóvil entre los postes y  dentro de la portería adversaria en el preciso momento en el que el balón entra en esta, se concederá el gol, a menos que el jugador cometiera una infracción   por fuera de juego o viole la Regla 12, en  cuyo  caso el  juego se  reanudará  con un libre directo o indirecto.
    </p>
  </ion-card-content>

</ion-card>

<ion-fab class="temary-nav" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="pagina = pagina-1" [disabled]="pagina == 0">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="temary-nav" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="pagina = pagina+1" [disabled]="pagina == 3">
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
