<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Reglas de Juego</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-menu side="start" menuId="temas" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Temas</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/temary/introduccion">Introducción</ion-item>
        <ion-item routerLink="/temary/regla1">Regla 1</ion-item>
        <ion-item routerLink="/temary/regla2">Regla 2</ion-item>
        <ion-item routerLink="/temary/regla3">Regla 3</ion-item>
        <ion-item routerLink="/temary/regla4">Regla 4</ion-item>
        <ion-item routerLink="/temary/regla5">Regla 5</ion-item>
        <ion-item routerLink="/temary/regla6">Regla 6</ion-item>
        <ion-item routerLink="/temary/regla7">Regla 7</ion-item>
        <ion-item routerLink="/temary/regla8">Regla 8</ion-item>
        <ion-item routerLink="/temary/regla9">Regla 9</ion-item>
        <ion-item routerLink="/temary/regla10">Regla 10</ion-item>
        <ion-item routerLink="/temary/regla11">Regla 11</ion-item>
        <ion-item routerLink="/temary/regla12">Regla 12</ion-item>
        <ion-item routerLink="/temary/regla13">Regla 13</ion-item>
        <ion-item routerLink="/temary/regla14">Regla 14</ion-item>
        <ion-item routerLink="/temary/regla15">Regla 15</ion-item>
        <ion-item routerLink="/temary/regla16">Regla 16</ion-item>
        <ion-item routerLink="/temary/regla17">Regla 17</ion-item>
        <ion-item routerLink="/temary/cambios">Cambios Reglas 2020/2021</ion-item>
        <ion-item routerLink="/temary/glosario">Glosario</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-content>
