<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Examen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="questionsSections">
    <ion-card-header>
      <ion-card-title>Opciones del examen</ion-card-title>
      <ion-card-subtitle>Indica las reglas y número de preguntas del examen</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <form (ngSubmit)="goToTest()">

        <ion-item>
          <ion-label position="floating">Reglas de juego</ion-label>
          <ion-select multiple="true" cancelText="Cerrar" okText="Listo"
            [(ngModel)]="exam.questionsSections" name="questionsSections" (change)="onSelectChanged()" required>
            <ion-select-option [value]="null">Todas</ion-select-option>
            <ion-select-option *ngFor="let questionsSection of questionsSections" [value]="questionsSection">{{ questionsSection.section }}</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Número de preguntas</ion-label>
          <ion-input [(ngModel)]="exam.numQuestions" name="numQuestions" required></ion-input>
        </ion-item>

        <ion-button id="login-btn" type="submit" [disabled]="exam.questionsSections.length == 0" fill="solid" expand="block" color="dark" >Ir a examen</ion-button>
      </form>

    </ion-card-content>
  </ion-card>

</ion-content>
