<ion-header *ngIf="user">
  <ion-toolbar>
    <ion-title>Bienvenido, {{ user.username }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openSuggestionsChat()">
        <ion-icon name="chatbubble-ellipses"></ion-icon>
      </ion-button>
      <ion-button *ngIf="user.admin" routerDirection="forward" routerLink="/admin-dashboard">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content" *ngIf="user">


  <div class="content-wrapper">
    <div class="menu-buttons">
      <ion-card routerDirection="forward" routerLink="/tests" expand="block" fill="solid">
        <img class="title-image" src="assets/icon/examen.svg" />
        <ion-card-title>Tests</ion-card-title>
      </ion-card>
      <ion-card routerDirection="forward" routerLink="/exams" expand="block" fill="solid">
        <img class="title-image" src="assets/icon/cerebro.svg" />
        <ion-card-title>Examen</ion-card-title>
      </ion-card>
      <ion-card routerDirection="forward" routerLink="/temary" expand="block" fill="solid">
        <img class="title-image" src="assets/icon/libros.svg" />
        <ion-card-title>Reglas de Juego</ion-card-title>
      </ion-card>
      <ion-card routerDirection="forward" routerLink="/progress" expand="block" fill="solid">
        <img class="title-image" src="assets/icon/mancuerna.svg" />
        <ion-card-title>Progreso</ion-card-title>
      </ion-card>
    </div>
  </div>
</ion-content>
