<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Glosario</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="pagina == 0">
    <p>
      <br />
      Este glosario contiene palabras y términos que requieren una aclaración o explicación más detallada que la incluida en las Reglas de Juego para su perfecta comprensión.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 1">
    <h2>
      <b>Entidades futbolísticas</b>
    </h2>
    <br />
    <h3>
      <b>
        IFAB (The International Football Association Board)
      </b>
    </h3>
    <p>
      Entidad compuesta por las cuatro federaciones británicas de fútbol y la FIFA, responsable de las Reglas de Juego a escala mundial. En principio, los cambios en las reglas solamente pueden aprobarse en su asamblea general anual, que habitualmente tiene lugar a finales de febrero o principios de marzo.
    </p>
    <br />
    <h3>
      <b>
        FIFA (Fédération Internationale de Football Association)
      </b>
    </h3>
    <p>
      Entidad rectora del fútbol en el mundo.
    </p>
    <br />
    <h3>
      <b>
        Confederación
      </b>
    </h3>
    <p>
      Entidad responsable del fútbol en un continente. Existen seis confederaciones: la AFC (Asia), la CAF (África), la Concacaf (Norteamérica, Centroamérica y el Caribe), la CONMEBOL (Sudamérica), la OFC (Oceanía) y la UEFA (Europa).
    </p>
    <br />
    <h3>
      <b>
        Federación nacional de fútbol
      </b>
    </h3>
    <p>
      Entidad responsable del fútbol en un país.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 2">
    <h2>
      <b>A</b>
    </h2>
    <br />
    <h3>
      <b>
        Acta arbitral (...referee report)
      </b>
    </h3>
    <p>
      V. informe arbitral
    </p>
    <br />
    <h3>
      <b>
        Advertencia (...warning)
      </b>
    </h3>
    <p>
      Acto por el cual el árbitro apercibe y censura verbalmente al infractor, el cual en ningún caso recibe sanción alguna por la infracción cometida. También denominado «apercibimiento».
    </p>
    <br />
    <h3>
      <b>
        Agente externo (→ outside agent)
      </b>
    </h3>
    <p>
      Toda persona ajena al equipo arbitral o no inscrita en la lista del equipo como jugador, suplente o miembro del cuerpo técnico; se incluyen también animales, objetos, estructuras, etc.
    </p>
    <br />
    <h3>
      <b>
        Amonestación (→ caution)
      </b>
    </h3>
    <p>
      Sanción disciplinaria de la que se dará parte a la autoridad competente; se comunicará al infractor mostrándole tarjeta amarilla; dos amonestaciones en un mismo partido a un mismo jugador o miembro del cuerpo técnico darán lugar a  su expulsión.
    </p>
    <br />
    <h3>
      <b>
        Ataque prometedor (...promising attack)
      </b>
    </h3>
    <p>
      Fase del juego caracterizada por su inminencia potencial de cara a la portería contraria. Se sancionará al jugador que la frustre infringiendo las Reglas de Juego.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 3">
    <h2>
      <b>B</b>
    </h2>
    <br />
    <h3>
      <b>
        Balón a tierra (→ dropped ball)
      </b>
    </h3>
    <p>
      Método de reanudación del juego en el que el árbitro deja caer el balón ante un jugador del equipo que tocó el balón por última vez, excepto si lo hizo dentro de su área, caso en el que el árbitro dejará caer el balón ante el guardameta. El    balón volverá a estar en juego en cuanto toque el suelo.
    </p>
    <br />
    <h3>
      <b>
        Brutalidad (→ brutality)
      </b>
    </h3>
    <p>
      Acción especialmente dura, desmesurada o premeditadamente violenta.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 4">
    <h2>
      <b>C</b>
    </h2>
    <br />
    <h3>
      <b>
        Carga (→ charge (an opponent) )
      </b>
    </h3>
    <p>
      Pugna física contra un adversario en la que generalmente se utiliza el hombro y  la parte superior del brazo, el cual se mantiene cerca del cuerpo.
    </p>
    <br />
    <h3>
      <b>
        Chequeo (...check)
      </b>
    </h3>
    <p>
      Análisis y valoración por parte del VAR de las imágenes de televisión, desde distintos ángulos y velocidades de reproducción, relativas a decisiones controvertidas relacionadas con goles, penales, tarjetas rojas directas o en casos de confusiones de identidad.
    </p>
    <br />
    <h3>
      <b>
        Conducta antideportiva (→ unsporting behaviour)
      </b>
    </h3>
    <p>
      Acción o comportamiento contrarios al espíritu del juego limpio y la deportividad, sancionables con amonestación.
    </p>
    <br />
    <h3>
      <b>
        Conducta violenta (→ violent conduct)
      </b>
    </h3>
    <p>
      Acción sin el balón en disputa en la que el jugador se emplea o tiene la intención de emplearse con fuerza excesiva o con  brutalidad contra  un  adversario, o golpea intencionadamente a alguien en la cabeza o en la cara con fuerza y de forma agresiva.
    </p>
    <br />
    <h3>
      <b>
        Cuerpo técnico (→ technical staff)
      </b>
    </h3>
    <p>
      Conjunto de miembros oficiales del equipo que, sin contar a los jugadores, figuran en la lista oficial, tales como el entrenador, el fisioterapeuta o el médico.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 4">
    <h2>
      <b>D</b>
    </h2>
    <br />
    <h3>
      <b>
        Desaprobación (→ dissent)
      </b>
    </h3>
    <p>
      Protesta o muestra de desacuerdo (verbal o física) con la decisión tomada por un miembro del equipo arbitral; sancionable con una amonestación (tarjeta amarilla).
    </p>
    <br />
    <h3>
      <b>
        Detección automática de goles (DAG) [→ Goal line technology (GLT)]
      </b>
    </h3>
    <p>
      Dispositivos electrónicos que informan inmediatamente al árbitro sobre la validez de un gol, es decir, si el balón ha atravesado completamente la línea de meta. Más información en la Regla n.º 1.
    </p>
    <br />
    <h3>
      <b>
        Disputa (→ challenge)
      </b>
    </h3>
    <p>
      Acción con la que un jugador pugna con un adversario por un balón cercano con el fin de arrebatárselo.
    </p>
    <br />
    <h3>
      <b>
        Distancia de juego (→ playing distance)
      </b>
    </h3>
    <p>
      Espacio existente entre el balón y el jugador que permite a este jugarlo extendiendo el pie o la pierna o bien saltando (en el caso de los guardametas, saltando con los brazos extendidos). Esta distancia dependerá de la envergadura física del jugador.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 5">
    <h2>
      <b>E</b>
    </h2>
    <br />
    <h3>
      <b>
        Entrada (→ tackle)
      </b>
    </h3>
    <p>
      Disputa con el pie por el balón (a ras el suelo o por el aire).
    </p>
    <br />
    <h3>
      <b>
        Espíritu del fútbol (→ spirit of the game)
      </b>
    </h3>
    <p>
      Conjunto de principios o valores éticos propios del fútbol como deporte, pero también referidos a un partido concreto (v. Regla n.º 5).
    </p>
    <br />
    <h3>
      <b>
        Examen a jugadores lesionados (→ assessment of injured player)
      </b>
    </h3>
    <p>
      Breve evaluación de una lesión, realizada normalmente por parte de un profesional médico, para determinar si el jugador necesita un tratamiento más completo.
    </p>
    <br />
    <h3>
      <b>
        Exclusión temporal (→ temporary dismissal)
      </b>
    </h3>
    <p>
      Suspensión temporal con la que —dependiendo de lo establecido en las reglas   de la competición— se sancionará al autor de ciertas o de todas las infracciones sancionables con amonestación.
    </p>
    <br />
    <h3>
      <b>
        Expulsión (→ sending-off)
      </b>
    </h3>
    <p>
      Sanción disciplinaria en la que se obliga al jugador a abandonar el terreno de juego (y sus inmediaciones) por lo que resta de partido por haber cometido una infracción merecedora de expulsión, lo cual se indica mediante una tarjeta roja;  si el partido hubiera comenzado, no se le podrá sustituir. Los miembros del cuerpo técnico también pueden ser expulsados.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 6">
    <h2>
      <b>F</b>
    </h2>
    <br />
    <h3>
      <b>
        Falta (→ offence)
      </b>
    </h3>
    <p>
      V. infracción.
    </p>
    <br />
    <h3>
      <b>
        Finta (→ feinting)
      </b>
    </h3>
    <p>
      Acción destinada a confundir a un adversario. Las Reglas de Juego definen fintas reglamentarias y antirreglamentarias.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 7">
    <h2>
      <b>G</b>
    </h2>
    <br />
    <h3>
      <b>
        Goles marcados fuera de casa, regla de los (→ away goals rule)
      </b>
    </h3>
    <p>
      Método empleado para dilucidar el ganador de una eliminatoria a doble partido si, a la conclusión del encuentro de vuelta, ambos equipos hubieran anotado el mismo número de goles; en ese caso, los tantos marcados fuera de casa cuentan doble.
    </p>
    <br />
    <h3>
      <b>
        Golpear (→ kick)
      </b>
    </h3>
    <p>
      Acto ejecutado por el jugador al entrar en contacto con el balón con el pie (tobillo incluido).
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 8">
    <h2>
      <b>H</b>
    </h2>
    <br />
    <h3>
      <b>
        Híbrido (→ hybrid system)
      </b>
    </h3>
    <p>
      Terreno de juego cuya superficie natural se ha reforzado con la integración de fibras sintéticas.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 9">
    <h2>
      <b>I</b>
    </h2>
    <br />
    <h3>
      <b>
        Imprudente (...careless)
      </b>
    </h3>
    <p>
      Acción en la que, a juicio del árbitro, un jugador muestra falta de atención o de consideración o actúa sin precaución al disputar un balón a un adversario. No será necesaria una sanción disciplinaria.
    </p>
    <br />
    <h3>
      <b>
        Informe arbitral (...referee report)
      </b>
    </h3>
    <p>
      Formulario que, a la finalización del partido, el árbitro deberá cumplimentar y redactar con todos los datos e incidentes ocurridos (alineaciones, goles, sustituciones, amonestaciones, expulsiones, etc.) que, dado el caso, posteriormente juzgarán los órganos disciplinarios pertinentes para imponer las correspondientes sanciones. También denominado «acta arbitral».
    </p>
    <br />
    <h3>
      <b>
        Infracción (→ offence)
      </b>
    </h3>
    <p>
      Acción que vulnera o viola las Reglas de Juego. También denominada «falta».
    </p>
    <br />
    <h3>
      <b>
        Interceptar (→ intercept)
      </b>
    </h3>
    <p>
      Impedir que el balón de un adversario llegue al destino pretendido cortando el pase.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 10">
    <h2>
      <b>J</b>
    </h2>
    <br />
    <h3>
      <b>
        Juego brusco y grave (→ serious foul play)
      </b>
    </h3>
    <p>
      Entrada o disputa del balón que pone en peligro la integridad física de un adversario en la que el infractor se emplea con fuerza excesiva o actúa con brutalidad; sancionable con expulsión (tarjeta roja).
    </p>
    <br />
    <h3>
      <b>
        Jugar (→ play)
      </b>
    </h3>
    <p>
      Acción de un jugador que entra en contacto con el balón.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 11">
    <h2>
      <b>L</b>
    </h2>
    <br />
    <h3>
      <b>
        Lenguaje o gestos ofensivos, insultantes o humillantes (→ offensive, insulting or abusive language)
      </b>
    </h3>
    <p>
      Expresiones verbales o gestos de carácter denigrante, hiriente o irrespetuoso; sancionable con expulsión (tarjeta roja).
    </p>
    <br />
    <h3>
      <b>
        Lista del equipo (→ team list)
      </b>
    </h3>
    <p>
      Documento oficial con los nombres, por lo general, de jugadores, suplentes y miembros del cuerpo técnico.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 12">
    <h2>
      <b>P</b>
    </h2>
    <br />
    <h3>
      <b>
        Pausa de refresco (→ "cooling" break)
      </b>
    </h3>
    <p>
      Pausa de 90 segundos a un máximo de tres minutos que, en interés de los jugadores y por su salud, podrá estar contemplada en el reglamento de la competición si se dan determinadas condiciones meteorológicas (temperatura y humedad altas) para que descienda la temperatura corporal. Estas pausas no deben confundirse con las de rehidratación.
    </p>
    <br />
    <h3>
      <b>
        Pausa de rehidratación (→ "drinks" break)
      </b>
    </h3>
    <p>
      Interrupción del juego no superior a un minuto que podrá estar contemplada en el reglamento de la competición para que los jugadores se rehidraten. Estas pausas no deben confundirse con las pausas de refresco.
    </p>
    <br />
    <h3>
      <b>
        Posición de reanudación (→ restart position)
      </b>
    </h3>
    <p>
      Ubicación de un jugador en el momento de la reanudación marcada por la posición de los pies o de la parte del cuerpo en contacto con el suelo, con excepción de lo estipulado en la «Regla 11. El fuera de juego».
    </p>
    <br />
    <h3>
      <b>
        Prórroga (→ extra time)
      </b>
    </h3>
    <p>
      V.  tiempo suplementario.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 13">
    <h2>
      <b>R</b>
    </h2>
    <br />
    <h3>
      <b>
        Reanudación (→ restart)
      </b>
    </h3>
    <p>
      Cualquiera de las maneras de retomar el juego tras haber sido detenido.
    </p>
    <br />
    <h3>
      <b>
        Revisión (...review)
      </b>
    </h3>
    <p>
      «incidente grave inadvertido». Para ello, el árbitro visionará estas imágenes en el área de revisión situada al borde del terreno de juego.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 14">
    <h2>
      <b>S</b>
    </h2>
    <br />
    <h3>
      <b>
        Salvada (→ save)
      </b>
    </h3>
    <p>
      Acción realizada por un jugador con el fin de detener o desviar, o intentar detener o desviar, un balón dirigido a la portería o muy cerca de ella con cualquier parte del cuerpo, excepto con las manos o los brazos (a menos que se trate del guardameta en su propia área penal).
    </p>
    <br />
    <h3>
      <b>
        Sanción disciplinaria (...disciplinary sanction)
      </b>
    </h3>
    <p>
      Amonestación (tarjeta amarilla) o expulsión (tarjeta roja) con la que el árbitro castiga una infracción de las Reglas de Juego.
    </p>
    <br />
    <h3>
      <b>
        Sancionar (→ penalise)
      </b>
    </h3>
    <p>
      Castigar una acción antirreglamentaria, habitualmente deteniendo el juego y concediendo un tiro libre o un penal al equipo contrario.
    </p>
    <br />
    <h3>
      <b>
        Señal (→ signal)
      </b>
    </h3>
    <p>
      Indicación física del árbitro principal o de cualquier miembro del equipo arbitral; por lo general, implica un movimiento de la mano, del brazo o del silbato (árbitro principal) o del banderín (árbitro asistente).
    </p>
    <br />
    <h3>
      <b>
        Simulación (→ simulation)
      </b>
    </h3>
    <p>
      Acción voluntaria que produce la impresión incorrecta o falsa de que ha sucedido algo que, en realidad, no ha sucedido; cometida por un jugador para obtener ventaja de forma inmerecida.
    </p>
    <br />
    <h3>
      <b>
        Sistema electrónico de seguimiento del rendimiento (EPTS) [→ Electronic performance and tracking system (EPTS)]
      </b>
    </h3>
    <p>
      Cualquiera de los diferentes dispositivos o sistemas de registro y análisis de datos sobre el rendimiento físico y fisiológico de un jugador.
    </p>
    <br />
    <h3>
      <b>
        Sujetar (→ holding offence)
      </b>
    </h3>
    <p>
      Infracción cometida únicamente si el contacto de un jugador con el cuerpo o el uniforme del adversario dificulta el movimiento de este.
    </p>
    <br />
    <h3>
      <b>
        Suspender definitivamente (→ abandon)
      </b>
    </h3>
    <p>
      Finalizar o dar por concluido un partido antes de consumirse el tiempo reglamentario.
    </p>
    <br />
    <h3>
      <b>
        Suspender temporalmente (→ suspend)
      </b>
    </h3>
    <p>
      Detener un partido durante determinado tiempo con la intención de reanudarlo más adelante (p. ej.: por niebla espesa, lluvia torrencial, aparato eléctrico, lesión grave, etc.).
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 15">
    <h2>
      <b>T</b>
    </h2>
    <br />
    <h3>
      <b>
        Tanda de penales (→ kicks from the penalty mark)
      </b>
    </h3>
    <p>
      Procedimiento para definir el resultado de un partido concluido en empate mediante el cual cada equipo lanza un penal por orden alterno hasta que uno de los dos marque un gol más y ambos hayan ejecutado el mismo número de lanzamientos, a menos que durante los cinco primeros uno de ellos matemáticamente ya no pueda igualar los tantos del otro aunque marcara todos sus lanzamientos restantes.
    </p>
    <br />
    <h3>
      <b>
        Temeraria (→ reckless)
      </b>
    </h3>
    <p>
      Acción (en general, una entrada o una disputa del balón) realizada por el jugador ignorando o sin tener en cuenta el riesgo o las consecuencias para su adversario.
    </p>
    <br />
    <h3>
      <b>
        Terreno de juego (→ field of play (pitch))
      </b>
    </h3>
    <p>
      Superficie delimitada por las líneas de banda y las de meta y, de utilizarse, las redes de las porterías.
    </p>
    <br />
    <h3>
      <b>
        Tiempo adicional (→ additional time)
      </b>
    </h3>
    <p>
      Minutos añadidos al final de cada uno de los periodos para compensar el tiempo perdido, p. ej.  por  sustituciones, lesiones, sanciones disciplinarias, celebración de goles, etc.
    </p>
    <br />
    <h3>
      <b>
        Tiempo suplementario (→ extra time)
      </b>
    </h3>
    <p>
      Procedimiento empleado a la conclusión del tiempo reglamentario de un  partido acabado en empate con el fin de deshacer dicho resultado tras disputar dos periodos extra de un máximo de quince minutos cada uno. También denominado «prórroga».
    </p>
    <br />
    <h3>
      <b>
        Tiro libre directo (→ direct free kick)
      </b>
    </h3>
    <p>
      Golpeo del balón al objeto de ejecutar un lanzamiento de falta y con el que se puede marcar gol directamente en la portería adversaria sin que el balón toque en ningún jugador.
    </p>
    <br />
    <h3>
      <b>
        Tiro libre indirecto (→ indirect free kick)
      </b>
    </h3>
    <p>
      Golpeo del balón al objeto de ejecutar un lanzamiento de falta y con el que se puede marcar gol únicamente si otro jugador (de uno de los dos equipos) toca el balón después del saque.
    </p>
    <br />
    <h3>
      <b>
        Tiro libre rápido (→ quick free kick)
      </b>
    </h3>
    <p>
      Golpeo del balón al objeto de ejecutar un lanzamiento de falta y con el que se puede marcar gol únicamente si otro jugador (de uno de los dos equipos) toca el balón después del saque.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 16">
    <h2>
      <b>V</b>
    </h2>
    <br />
    <h3>
      <b>
        Ventaja (→ advantage)
      </b>
    </h3>
    <p>
      Concesión por la cual el árbitro  permite que  el  juego continúe tras  cometerse una infracción, en el caso de que esta decisión beneficie al equipo que ha sufrido dicha infracción.
    </p>
    <br />
    <h3>
      <b>
        Voluntario (→ deliberate)
      </b>
    </h3>
    <p>
      Característica de la acción realizada de manera premeditada e intencionada, y nunca de forma refleja o como resultado de una reacción involuntaria.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 17">
    <h2>
      <b>Equipo arbitral</b>
    </h2>
    <br />
    <h3>
      <b>
        Miembro(s) del equipo arbitral
      </b>
    </h3>
    <p>
      Término general que designa a una o varias personas responsables de dirigir un partido de fútbol en representación de la federación o competición bajo cuya jurisdicción se juegue el partido.
    </p>
    <br />
    <h3>
      <b>
        Árbitro
      </b>
    </h3>
    <p>
      Miembro principal del equipo arbitral de un partido, el cual desempeña sus funciones dentro del terreno de juego. El resto de miembros del equipo arbitral ejercen sus funciones bajo el control y la dirección del árbitro. El árbitro es el responsable último en la toma de decisiones.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 18">
    <h2>
      <b>Miembros del equipo arbitral en el terreno de juego</b>
    </h2>
    <p>
      <br />
      En las diferentes competiciones, se podrá designar a otros miembros del equipo arbitral para que ayuden al árbitro principal:
    </p>
    <br />
    <h3>
      <b>
        Árbitro asistente
      </b>
    </h3>
    <p>
      Miembro del equipo arbitral que dispone de un banderín y se sitúa en una mitad de la línea de banda para ayudar al árbitro principal, especialmente en las decisiones relativas a situaciones de fuera de juego y saques de meta, de esquina y de banda.
    </p>
    <br />
    <h3>
      <b>
        Árbitro asistente adicional
      </b>
    </h3>
    <p>
      Miembro del equipo arbitral que se sitúa en la línea de meta cerca de la portería para ayudar al árbitro especialmente en las decisiones relativas a las acciones que se dan en el área penal y sus inmediaciones y en decisiones   sobre goles dudosos (gol/no gol).
    </p>
    <br />
    <h3>
      <b>
        Árbitro asistente de reserva
      </b>
    </h3>
    <p>
      Árbitro que sustituirá a un asistente (o, en el caso de que lo permitan las reglas de la competición, a un cuarto árbitro a un árbitro asistente adicional) en el caso de que no estuviera en condiciones de continuar con su labor.
    </p>
    <br />
    <h3>
      <b>
        Cuarto árbitro
      </b>
    </h3>
    <p>
      Miembro del equipo arbitral que ayuda al árbitro en tareas que se desempeñan tanto fuera como dentro del campo, tales como la supervisión del área técnica, el control de las sustituciones, etc.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 19">
    <h2>
      <b>Miembros del equipo arbitral de vídeo</b>
    </h2>
    <p>
      <br />
      Conjunto de VAR y AVAR que asisten al árbitro de conformidad con el Protocolo del VAR:
    </p>
    <br />
    <h3>
      <b>
        Árbitro asistente de vídeo (VAR)
      </b>
    </h3>
    <p>
      Árbitro en activo o exárbitro designado para asistir al árbitro principal comunicándole la información observada en las imágenes de televisión en relación con los «errores claros, obvios y manifiestos» o los «incidentes graves inadvertidos» incluidos en las categorías de hechos revisables.
    </p>
    <br />
    <h3>
      <b>
        Asistente del árbitro asistente de vídeo (AVAR)
      </b>
    </h3>
    <p>
      Árbitro o árbitro asistente en activo o exárbitro designado para asistir al árbitro asistente de vídeo (VAR).
    </p>
  </ion-card-content>
</ion-card>

<ion-fab class="temary-nav" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="pagina = pagina-1" [disabled]="pagina == 0">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="temary-nav" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="pagina = pagina+1" [disabled]="pagina == 8">
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
