<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Regla 3: Los jugadores</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="pagina == 0">
    <h2>
      <b>1. Número de jugadores</b>
    </h2>
    <p>
      <br />
      Disputarán los partidos dos equipos, cada uno de ellos con un máximo de once jugadores, uno de los cuales será el guardameta. El partido no comenzará ni proseguirá si uno de los equipos dispone de menos de siete jugadores.
      <br /><br />
      Si uno de los equipos acabara con menos de siete jugadores debido a que uno o varios de ellos hayan abandonado voluntariamente el terreno de juego, el árbitro no estará obligado a detener el juego y se podrá otorgar ventaja. Sin embargo, el partido no deberá reanudarse una vez que el balón no esté en    juego si un equipo no cuenta con siete jugadores como mínimo.
      <br /><br />
      Si las reglas de la competición estipulan que se debe dar a conocer el nombre      de todos los jugadores y suplentes antes del saque inicial y un equipo comienza el encuentro con menos de once jugadores, únicamente los jugadores y  suplentes que figuren en la alineación inicial podrán participar en el partido en cuanto lleguen.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 1">
    <h2>
      <b>2. Número de sustituciones</b>
    </h2>
    <br />
    <h2><b>Competiciones oficiales</b></h2>
    <p>
      En los partidos de competición oficial organizados por la FIFA, las confederaciones o las federaciones nacionales de fútbol, se podrá utilizar un máximo de cinco suplentes, salvo en el caso de competiciones masculinas y femeninas en las que participe el primer equipo de los clubes de la máxima categoría o selecciones nacionales absolutas, en cuyo caso el máximo será de tres suplentes.
    </p>
    <p>
      <br />
      El reglamento de la competición deberá estipular:
    </p>
    <ul>
      <li>
        el número máximo de suplentes que podrán inscribirse, de tres a un máximo de doce;
      </li>
      <li>
        si se puede utilizar un suplente adicional si el partido llega a la prórroga (incluso si los equipos ya han hecho uso de todas las sustituciones permitidas).
      </li>
    </ul>
    <br />
    <h2><b>Otros partidos</b></h2>
    <p>
      En los partidos de selecciones nacionales absolutas, se podrá designar un máximo de doce suplentes, de los cuales se podrán utilizar un máximo de seis.
    </p>
    <p>
      <br />
      El terreno de juego estará dividido en dos mitades por una línea que unirá los puntos medios de las dos líneas de banda: la línea central o de medio campo.
    </p>
    <p>
      <br />
      En el resto de partidos, se podrá utilizar un número mayor de suplentes, siempre que:
    </p>
    <ul>
      <li>
        los equipos lleguen a un acuerdo sobre el número máximo;
      </li>
      <li>
        se haya informado al árbitro antes del comienzo del partido.
      </li>
    </ul>
    <p>
      <br />
      Si el árbitro no ha sido informado o no se ha llegado a un acuerdo antes del inicio del partido, a cada equipo se le permitirá utilizar como máximo seis suplentes.
      <br /><br />
    </p>
    <h2><b>Sustituciones ilimitadas</b></h2>
    <p>
      El uso de las sustituciones ilimitadas está permitido exclusivamente en el   fútbol infantil y juvenil, de veteranos, de discapacitados y en el fútbol amateur, siempre que lo apruebe la federación nacional de fútbol, la confederación o la FIFA.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 2">
    <h2>
      <b>3. Procedimiento de sustitución</b>
    </h2>
    <p>
      <br />
      Antes del comienzo del partido, deberá entregarse al árbitro la lista de suplentes. Aquellos cuyo nombre no haya sido facilitado en ese momento no podrán participar en el partido.
    </p>
    <p>
      <br />
      Para sustituir a un jugador, se deberá tener en cuenta lo siguiente:
    </p>
    <ul>
      <li>
        se deberá informar al árbitro antes de efectuar la sustitución;
      </li>
      <li>
        el jugador que vaya a ser sustituido:
        <ul>
          <li>
            recibirá el permiso del árbitro para salir del terreno de juego, a menos que ya se encuentre fuera del mismo, y lo abandonará por el punto más    cercano de la línea delimitadora del campo, salvo que el árbitro le indique que salga directamente por la medular o por otro punto (p. ej. por razones de seguridad o por lesión);
          </li>
          <li>
            deberá dirigirse inmediatamente al área técnica o a los vestuarios, y no volverá a participar en el partido, excepto en aquellos casos en los que se permitan las sustituciones ilimitadas;
          </li>
        </ul>
      </li>
      <li>
        si un jugador que debe ser sustituido se negara a salir del terreno de juego, el partido continuará.
      </li>
    </ul>
    <p>
      <br />
      El suplente solamente podrá entrar al terreno de juego:
    </p>
    <ul>
      <li>
        mientras el juego esté detenido;
      </li>
      <li>
        por la línea central;
      </li>
      <li>
        después de que el jugador al que deba reemplazar haya abandonado el terreno de juego;
      </li>
      <li>
        tras recibir la señal del árbitro.
      </li>
    </ul>
    <p>
      <br />
      Las sustituciones serán efectivas cuando el suplente entre en el terreno de juego; desde ese momento, el jugador que se retira pasa a ser un jugador sustituido, y el suplente se convierte en jugador, por lo que podrá reanudar el juego.
    </p>
    <p>
      <br />
      Tanto los jugadores sustituidos como los suplentes están sometidos a la autoridad del árbitro, independientemente de que lleguen a jugar o no.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 3">
    <h2>
      <b>4. Cambio de guardameta</b>
    </h2>
    <p>
      <br />
      Cualquiera de los jugadores de campo podrá intercambiar su puesto por el del guardameta siempre que:
    </p>
    <ul>
      <li>
        se informe al árbitro antes de realizarse dicho cambio;
      </li>
      <li>
        el cambio se efectúe mientras el juego esté detenido.
      </li>
    </ul>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 4">
    <h2>
      <b>5. Infracciones y sanciones</b>
    </h2>
    <p>
      <br />
      Si un suplente inscrito como tal jugara desde el inicio del partido en lugar de un jugador previamente inscrito como titular sin que el árbitro haya sido informado de ello:
    </p>
    <ul>
      <li>
        el árbitro permitirá que el suplente siga jugando;
      </li>
      <li>
        no se adoptarán sanciones disciplinarias contra el suplente;
      </li>
      <li>
        el jugador inscrito como titular podrá pasar a ser suplente;
      </li>
      <li>
        no se reducirá el número de sustituciones;
      </li>
      <li>
        el árbitro informará de la incidencia a la autoridad competente.
      </li>
    </ul>
    <p>
      <br />
      Si se realiza una sustitución durante el descanso del medio tiempo o antes del tiempo suplementario, el procedimiento de sustitución deberá completarse antes de que se reanude el partido. Si no se informara al árbitro, el suplente inscrito como tal podrá seguir jugando, no se tomará ninguna medida disciplinaria y se informará de la incidencia a las autoridades competentes.
    </p>
    <p>
      <br />
      En el caso de que un jugador intercambiara su puesto con el del guardameta sin la autorización del árbitro, este:
    </p>
    <ul>
      <li>
        permitirá que prosiga el juego;
      </li>
      <li>
        amonestará a ambos jugadores en cuanto el balón deje de estar en juego, excepto si el cambio se produjo durante el descanso del medio tiempo (incluido el descanso del tiempo suplementario) o el periodo comprendido entre el final del partido y el inicio del tiempo suplementario o la tanda de penales.
      </li>
    </ul>
    <p>
      <br />
      En caso de que se produjera cualquier otra infracción de esta Regla:
    </p>
    <ul>
      <li>
        se amonestará a los jugadores;
      </li>
      <li>
        se reanudará el juego con un tiro libre indirecto desde el lugar donde se hallaba el balón cuando el juego fue detenido.
      </li>
    </ul>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 5">
    <h2>
      <b>6. Jugadores y suplentes expulsados</b>
    </h2>
    <p>
      <br />
      Si un jugador es expulsado:
    </p>
    <ul>
      <li>
        antes de la entrega de la lista del equipo, no podrá figurar en ningún puesto dentro de dicha lista;
      </li>
      <li>
        tras ser inscrito en la lista del equipo y antes del saque inicial, puede ser sustituido por un suplente, cuyo puesto no podrá ser ocupado por otro jugador; además, no se reducirá el número de sustituciones permitidas;
      </li>
      <li>
        tras el saque inicial, no podrá ser sustituido.
      </li>
    </ul>
    <p>
      <br />
      No podrá sustituirse a aquel jugador designado como suplente que sea expulsado antes o después del saque inicial.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 6">
    <h2>
      <b>7. Personas no autorizadas en el terreno de juego</b>
    </h2>
    <p>
      <br />
      Los miembros del cuerpo técnico son el entrenador y los demás integrantes de la lista del equipo, a excepción de los jugadores y los suplentes. Toda persona   no inscrita en la lista del equipo como jugador, suplente o miembro del cuerpo técnico será considerada como «agente externo».
    </p>
    <p>
      <br />
      Si un miembro del cuerpo técnico, suplente, jugador sustituido, jugador expulsado o agente externo entrara en el terreno de juego, el árbitro deberá:
    </p>
    <ul>
      <li>
        detener el juego únicamente si esta persona interfiriera en el juego;
      </li>
      <li>
        obligar a esta persona a salir del terreno de juego en cuanto se interrumpa el juego;
      </li>
      <li>
        tomar las correspondientes  medidas  disciplinarias. Si se detiene el juego y la interferencia fue causada por:
        <ul>
          <li>
            un miembro del cuerpo técnico, suplente, jugador sustituido o jugador expulsado, se reanudará el juego con un libre directo o un tiro penal;
          </li>
          <li>
            un agente externo, se reanudará el juego con un balón a tierra.
          </li>
        </ul>
      </li>
    </ul>
    <p>
      <br />
      Si el balón va a entrar en la portería y la interferencia no impide que un   jugador del equipo defensor juegue el balón, se concederá gol si el balón entra en la portería (incluso si se produjo un contacto con el balón), a menos que la interferencia fuese causada por un miembro del equipo atacante.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 7">
    <h2>
      <b>8. Jugador fuera del terreno de juego</b>
    </h2>
    <p>
      <br />
      Si un jugador que requiere la autorización del árbitro para regresar al terreno de juego vuelve a entrar sin su permiso, el árbitro deberá:
    </p>
    <ul>
      <li>
        detener el juego (pero no inmediatamente si el jugador no interfiere en el juego o en la labor de un miembro del equipo arbitral, o si pudiera concederse ventaja);
      </li>
      <li>
        amonestar al jugador por entrar en el terreno de juego sin autorización.
      </li>
    </ul>
    <p>
      <br />
      Si el árbitro detuviera el juego, lo reanudará:
    </p>
    <ul>
      <li>
        con un libre directo desde el punto donde se produjo la interferencia;
      </li>
      <li>
        con un libre indirecto desde el lugar donde se hallaba el balón cuando el juego fue detenido si no se produjo ninguna interferencia.
      </li>
    </ul>
    <p>
      <br />
      No cometerá infracción alguna aquel jugador que, como parte de la acción del juego, cruce una línea de demarcación.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 8">
    <h2>
      <b>9. Gol marcado con una persona no autorizada en el terreno de juego</b>
    </h2>
    <p>
      <br />
      Si después de anotarse un gol y antes de reanudarse el juego, el árbitro constatara que una persona no autorizada se hallaba en el terreno de juego en el momento de marcarse el gol:
    </p>
    <ul>
      <li>
        el árbitro deberá anular el gol si la persona no autorizada era:
        <ul>
          <li>
            un jugador, suplente, jugador sustituido, jugador expulsado o miembro del cuerpo técnico del equipo que marcó el gol; se reanudará el juego con un tiro libre directo desde la posición de la persona no autorizada;
          </li>
          <li>
            un agente externo que interfirió en el juego, a menos que el gol se   produzca de la manera indicada anteriormente en la sección «personas no autorizadas en el terreno de juego»; se reanudará el juego con balón a  tierra.
          </li>
        </ul>
      </li>
      <li>
        el árbitro deberá conceder el gol si la persona no autorizada era:
        <ul>
          <li>
            un jugador, suplente, jugador sustituido, jugador expulsado o miembro del cuerpo técnico del equipo que recibió el gol;
          </li>
          <li>
            un agente externo que no interfirió en el juego.
          </li>
        </ul>
      </li>
    </ul>
    <p>
      <br />
      En todos los casos, el árbitro ordenará que la persona no autorizada salga del terreno de juego.
    </p>
    <p>
      <br />
      Si, después de que se marque un gol y se haya reanudado el juego, el árbitro constatara que había una persona no autorizada en el terreno de juego cuando se marcó el gol, este no se podrá anular. Si la persona no autorizada estuviera todavía en el terreno de juego, el árbitro deberá:
    </p>
    <ul>
      <li>
        detener el juego;
      </li>
      <li>
        ordenar que la persona no autorizada salga del terreno de juego;
      </li>
      <li>
        reanudar el juego con un balón a tierra o un tiro libre, según proceda. El árbitro informará de la incidencia a las autoridades competentes.
      </li>
    </ul>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 9">
    <h2>
      <b>10. Capitán del equipo</b>
    </h2>
    <p>
      <br />
      El capitán del equipo no gozará de categoría especial o privilegio alguno, pero tendrá cierto grado de responsabilidad en lo concerniente al comportamiento de su equipo.
    </p>
  </ion-card-content>
</ion-card>

<ion-fab class="temary-nav" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="pagina = pagina-1" [disabled]="pagina == 0">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="temary-nav" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="pagina = pagina+1" [disabled]="pagina == 9">
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
