<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list style="display: flex; justify-content: center;">
    <form [formGroup]="loginForm" (ngSubmit)="login()">

          <ion-item>
            <ion-label position="floating">Correo electrónico</ion-label>
            <ion-input autofocus formControlName="email" placeholder="Correo electrónico"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Clave</ion-label>
            <ion-input type="password" formControlName="password" placeholder="Clave"></ion-input>
          </ion-item>

      Value: {{loginForm.value}}
      IsValid: {{loginForm.valid}}
      <ion-button type="submit"[disabled]="!loginForm.valid" fill="solid" expand="block" color="dark" >Entrar</ion-button>

    </form>
  </ion-list>
</ion-content>
