<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Regla 12: Faltas y conducta incorrecta</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="pagina == 0">
    <p>
      <br />
      Los tiros libres directos e indirectos y los lanzamientos desde el punto penal solamente podrán concederse por infracciones cometidas con el balón en juego.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 1">
    <h2>
      <b>1. Tiro libre directo</b>
    </h2>
    <p>
      <br />
      Se concederá un libre directo si, a juicio del árbitro, un jugador comete una de las siguientes faltas contra un adversario de una manera imprudente,   temeraria o con el uso de una fuerza excesiva:
    </p>
    <ul>
      <li>
        cargar;
      </li>
      <li>
        saltar encima;
      </li>
      <li>
        dar una patada o intentarlo;
      </li>
      <li>
        empujar;
      </li>
      <li>
        golpear o intentarlo (cabezazos incluidos);
      </li>
      <li>
        hacer una entrada o disputarle el balón;
      </li>
      <li>
        poner la zancadilla o intentarlo.
      </li>
    </ul>
    <p>
      <br />
      En caso de que la falta cometida implique contacto físico, se penalizará con un libre directo.
    </p>
    <ul>
      <li>
        «Imprudente» es aquella acción en la cual un jugador muestra falta de atención o de consideración o actúa sin precaución al disputar un balón a un adversario. No será necesaria una sanción disciplinaria.
      </li>
      <li>
        «Temeraria» es la acción en la que un jugador realiza una acción que entraña daño físico (no necesariamente grave) sin tener en cuenta el riesgo o las consecuencias para su adversario, por lo que deberá ser amonestado.
      </li>
      <li>
        Con uso de fuerza excesiva» es la acción en la que el jugador se excede en la fuerza y la impetuosidad empleada o pone en peligro la integridad física del adversario, por lo que deberá ser expulsado.
      </li>
    </ul>
    <p>
      <br />
      Se concederá asimismo un libre directo si un jugador cometiera una de las siguientes faltas:
    </p>
    <ul>
      <li>
        infracción por mano (excepto el guardameta dentro de su propia área penal);
      </li>
      <li>
        sujetar a un adversario;
      </li>
      <li>
        obstaculizar a un adversario mediante contacto físico;
      </li>
      <li>
        morder o escupir a alguien;
      </li>
      <li>
        lanzar un objeto contra el balón, a un adversario o a un árbitro, o golpear el balón con un objeto.
      </li>
    </ul>
    <br />
    <h2>
      <b>Procedimiento</b>
    </h2>
    <p>
      Con el fin de determinar con claridad las infracciones por mano, el límite superior del brazo coincide con el punto inferior de la axila, tal y como ilustra   el gráfico.
    </p>
    <p>
      <br />
      Cometerá infracción el jugador que:
    </p>
    <ul>
      <li>
        toque el balón de manera voluntaria con la mano o el brazo, incluido el movimiento en dirección al balón con estas partes del cuerpo;
      </li>
      <li>
        marque gol en la portería adversaria directamente con la mano o el brazo  —incluso si la acción se produce de forma accidental—, incluido el guardameta.
      </li>
      <li>
        inmediatamente después de que el balón le toque a él o a un compañero de equipo en la mano o el brazo, incluso de manera accidental:
        <ul>
          <li>
            marque gol en la portería adversaria;
          </li>
          <li>
            genere una ocasión de gol;
          </li>
        </ul>
      </li>
      <li>
        toque el balón con la mano o el brazo cuando:
        <ul>
          <li>
            la mano o el brazo se posicionen de manera antinatural y consigan que el cuerpo ocupe más espacio;
          </li>
          <li>
            la mano o el brazo se sitúen por encima de la altura del hombro o más allá de este, a menos que se juegue primero el balón de manera voluntaria con otra parte del cuerpo, y luego toque este en la mano o el brazo.
          </li>
        </ul>
      </li>
    </ul>
    <p>
      <br />
      Estas infracciones se considerarán como tales incluso en  el  caso de  que  el balón toque en la mano o el brazo del jugador tras haber rebotado en la cabeza, el cuerpo o el pie de dicho jugador o de otro que estuviera situado cerca del primero.
    </p>
    <p>
      <br />
      Excepto en las infracciones mencionadas, no se considerará infracción cuando  el balón toque la mano o el brazo:
    </p>
    <ul>
      <li>
        si proviene directamente de la cabeza o el cuerpo (incluido el pie) del propio jugador;
      </li>
      <li>
        si proviene directamente de la cabeza o el cuerpo (incluido el pie) de otro jugador;
      </li>
      <li>
        si la mano o el brazo están cerca del cuerpo y no se encuentran en una posición antinatural con la que se consiga ocupar más espacio;
      </li>
      <li>
        si el jugador cae y la mano o el brazo quedan entre el cuerpo y el punto de apoyo en el suelo, pero no alejadas del cuerpo hacia un lado o en vertical.
      </li>
    </ul>
    <p>
      <br />
      El guardameta está sujeto a las mismas restricciones que cualquier otro jugador en cuanto a tocar el balón con la mano fuera de su propia área. Si el guardameta tocara el balón con la mano en su área penal sin estar autorizado para ello, se señalará un libre indirecto, pero no habrá sanción disciplinaria alguna. No obstante, si la infracción consistiera en haber jugado el balón una segunda vez (con el brazo o la mano u otras partes del cuerpo) después de reanudarse el juego y antes de que lo toque otro jugador, se sancionará al guardameta si con la infracción se interrumpiera un ataque prometedor, se evitara un gol o una ocasión manifiesta del equipo adversario.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 2">
    <h2>
      <b>2. Tiro libre indirecto</b>
    </h2>
    <p>
      <br />
      Se concederá un libre indirecto si un jugador:
    </p>
    <ul>
      <li>
        juega de forma peligrosa;
      </li>
      <li>
        obstaculiza el avance de un adversario sin que exista contacto físico;
      </li>
      <li>
        actúa mostrando desaprobación, utilizando lenguaje o gestos ofensivos, insultantes o humillantes u otras ofensas verbales;
      </li>
      <li>
        impide que el guardameta saque el balón con la mano, lo juegue o lo intente jugar cuando el guardameta está en proceso de soltarlo;
      </li>
      <li>
        comete cualquier otra infracción que no haya sido mencionada en las Reglas  de Juego, por la cual se interrumpe el partido para amonestar o expulsar a un jugador.
      </li>
    </ul>
    <p>
      <br />
      Se concederá un libre indirecto si un guardameta cometiera una de las siguientes infracciones dentro de su propia área:
    </p>
    <ul>
      <li>
        retener el balón con las manos o los brazos durante más de seis segundos antes de lanzarlo;
      </li>
      <li>
        tocar el balón con las manos o los brazos después de lanzarlo y antes de que lo toque ningún otro jugador;
      </li>
      <li>
        tocar el balón con las manos o los brazos, a menos que el guardameta haya golpeado con el pie el balón claramente (o lo haya intentado) con el fin de ponerlo en juego, después de que:
        <ul>
          <li>
            un compañero se lo haya cedido con el pie;
          </li>
          <li>
            lo haya recibido directamente de un  saque de  banda para  su  equipo.
          </li>
        </ul>
      </li>
    </ul>
    <p>
      <br />
      El guardameta estará también en posesión del balón en sus manos cuando:
    </p>
    <ul>
      <li>
        retenga el balón en las manos o entre la mano y una superficie (p. ej. el suelo, su propio cuerpo) o cuando lo toque con cualquier parte de las manos o los brazos, excepto si el balón rebota en el guardameta o después de que este   haya efectuado una «salvada»;
      </li>
      <li>
        sostenga el balón con la mano abierta y extendida;
      </li>
      <li>
        haga rebotar el balón en el suelo o lo lance al aire.
      </li>
    </ul>
    <p>
      <br />
      Mientras el guardameta esté en posesión del balón en sus manos, ningún adversario podrá disputárselo.
    </p>
    <br />
    <h2>
      <b>Juego peligroso</b>
    </h2>
    <p>
      Se considerará juego peligroso toda acción que, al intentar jugar el balón, suponga riesgo de lesión, incluso para el propio jugador que realice la acción, o que impida que un adversario cercano juegue el balón por temor a lesionarse.
    </p>
    <p>
      <br />
      Están permitidas las voleas acrobáticas (p. ej. los remates de «chilena» o de «tijera»), siempre que no entrañen ningún peligro para el adversario.
    </p>
    <br />
    <h2>
      <b>Obstaculizar el avance de un adversario sin que exista contacto</b>
    </h2>
    <p>
      Obstaculizar el avance de un adversario supone interponerse en el camino de este para obstruir, bloquear, ralentizar o forzar a cambiar de dirección a dicho adversario cuando el balón no está a distancia de juego de los jugadores involucrados.
    </p>
    <p>
      <br />
      Todos los jugadores tendrán derecho a guardar su posición en el terreno de juego; encontrarse en el camino de un adversario no es lo mismo que interponerse en su camino.
    </p>
    <p>
      <br />
      Los jugadores podrán proteger el balón colocándose entre este y un adversario mientras el balón se halle a distancia de juego y el jugador no retenga a su adversario con los brazos o el cuerpo. Si el balón se hallara a distancia de juego, el adversario puede cargar contra el jugador,  dentro  de  los  márgenes permitidos por las Reglas de Juego.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 3">
    <h2>
      <b>3. Medidas disciplinarias</b>
    </h2>
    <p>
      <br />
      El árbitro tiene la autoridad para tomar medidas disciplinarias desde que entra en el terreno de juego para realizar la inspección previa al partido hasta que lo abandona una vez terminado el partido (tanda de penales incluida).
    </p>
    <p>
      <br />
      Si antes de entrar en el terreno de juego al comienzo del partido, un jugador o un miembro del cuerpo técnico cometiera una infracción merecedora de expulsión, el árbitro tendrá la autoridad para impedir que el jugador o el miembro del cuerpo técnico participe en el partido (v. Regla 3.6). El árbitro deberá hacer constar igualmente todos aquellos casos de conducta incorrecta.
    </p>
    <p>
      <br />
      Aquel jugador o miembro del cuerpo técnico que cometa una infracción sancionable con amonestación o expulsión, ya sea dentro o fuera del terreno de juego, será sancionado conforme a la infracción cometida.
    </p>
    <p>
      <br />
      La tarjeta amarilla se utiliza para comunicar una amonestación y la tarjeta roja, para comunicar una expulsión.
    </p>
    <p>
      <br />
      Solo se podrán mostrar tarjetas amarillas o rojas a los jugadores, a los suplentes, a los jugadores sustituidos o a los miembros del cuerpo técnico.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 4">
    <h2>
      <b>Jugadores, suplentes y jugadores sustituidos</b>
    </h2>
    <br />
    <h3>
      <b>Retrasar la reanudación del juego para mostrar una tarjeta</b>
    </h3>
    <p>
      Una vez que el árbitro haya decidido amonestar o expulsar a un jugador, el    juego no deberá reanudarse hasta que haya mostrado la tarjeta, a menos que el equipo no infractor quiera realizar un tiro libre rápido, disponga de una clara ocasión de gol y el árbitro no haya iniciado el procedimiento de sanción disciplinaria. La tarjeta se mostrará  en  la siguiente interrupción del  juego. Si con la infracción se evitó una ocasión manifiesta de gol para el equipo adversario, se amonestará al jugador. Sin embargo, no se amonestará al jugador si con la infracción se interfiriera en un ataque prometedor o se acabara evitando.
    </p>
    <br />
    <h3>
      <b>Ventaja</b>
    </h3>
    <p>
      Si, una vez detenido el juego, el árbitro concediera ventaja después de una infracción merecedora de amonestación o expulsión, dicha amonestación o expulsión deberá aplicarse en cuanto el balón deje de estar en juego. Sin embargo, si con la infracción se evitase una ocasión manifiesta de gol, el jugador será amonestado por conducta antideportiva. No obstante, no se amonestará al jugador si con la infracción se interfiriera en un ataque prometedor o se acabara evitando.
    </p>
    <p>
      <br />
      No se debe conceder ventaja en el caso de juego brusco y grave (falta de   extrema dureza), conducta violenta o de faltas merecedoras de una segunda amonestación, a menos de que se trate de una ocasión manifiesta de gol. El árbitro deberá entonces expulsar al jugador en cuanto el balón deje de estar en juego; no obstante, si el jugador jugara el balón, se lo disputara a un adversario   o interfiera con él, el árbitro detendrá el juego, expulsará al jugador y    reanudará el juego con un libre indirecto, a menos que el jugador hubiera cometido una infracción más grave.
    </p>
    <p>
      <br />
      Si un defensor comenzara a sujetar a un adversario fuera del área y continuará sujetándolo dentro de la misma, el árbitro señalará tiro penal.
    </p>
    <br />
    <h3>
      <b>Infracciones sancionables con amonestación</b>
    </h3>
    <p>
      Se amonestará al jugador que realice alguna de las acciones siguientes:
    </p>
    <ul>
      <li>
        retrasar la reanudación del juego;
      </li>
      <li>
        mostrar desaprobación con palabras o acciones;
      </li>
      <li>
        entrar o volver a entrar en el terreno de juego, o bien abandonarlo, de manera deliberada y sin permiso del árbitro;
      </li>
      <li>
        no respetar la distancia reglamentaria en un balón a tierra, saque de esquina, un tiro libre o un saque de banda;
      </li>
      <li>
        infringir reiteradamente las Reglas de Juego (no está definido el número de infracciones ni existe otro tipo de indicación específica sobre lo que implica
      </li>
      <li>
        conducta antideportiva;
      </li>
      <li>
        entrar en el área de revisión;
      </li>
      <li>
        repetir de manera insistente el gesto de la «revisión» (pantalla de televisión).
      </li>
    </ul>
    <p>
      <br />
      Se amonestará a aquel suplente o jugador sustituido que haya realizado alguna de las acciones siguientes:
    </p>
    <ul>
      <li>
        retrasar la reanudación del juego;
      </li>
      <li>
        mostrar desaprobación con palabras o acciones;
      </li>
      <li>
        entrar o volver a entrar en el terreno de juego, o bien abandonarlo, de manera deliberada y sin permiso del árbitro;
      </li>
      <li>
        conducta antideportiva;
      </li>
      <li>
        entrar en el área de revisión;
      </li>
      <li>
        conducta antideportiva;
      </li>
      <li>
        repetir de manera insistente el gesto de la «revisión» (pantalla de televisión).
      </li>
    </ul>
    <p>
      <br />
      En el caso de que un mismo jugador cometa dos infracciones sancionables (incluso sucesivamente), se le deberá amonestar dos veces, p. ej. si entra en el terreno de juego sin la debida autorización y, acto seguido, realiza una entrada temeraria o frustra un ataque prometedor por medio de una falta o tocando el balón con la mano, etc.
    </p>
    <br />
    <h3>
      <b>Amonestaciones por conducta antideportiva</b>
    </h3>
    <p>
      Existen diferentes acciones en las cuales se amonestará a un jugador por conducta antideportiva, entre ellas:
    </p>
    <ul>
      <li>
        intentar engañar al árbitro, p. ej. al fingir una lesión o aparentar haber sido objeto de una infracción (simulación);
      </li>
      <li>
        intercambiar su puesto con el del guardameta durante el juego o sin permiso del árbitro (v. Regla 3);
      </li>
      <li>
        cometer de manera temeraria una infracción sancionable con libre directo;
      </li>
      <li>
        tocar el balón con la mano para obstaculizar o impedir que progrese un ataque prometedor;
      </li>
      <li>
        cometer cualquier otra infracción con la que se interfiere en un ataque prometedor o se acaba evitando, excepto cuando el árbitro concede un tiro penal por una infracción con la que se pretende jugar el balón;
      </li>
      <li>
        evitar una ocasión manifiesta de gol de un adversario mediante una infracción con disputa del balón y por la que el árbitro señala tiro penal;
      </li>
      <li>
        tocar el balón con la mano al intentar marcar un gol (independientemente de que lo consiga o no) o en un intento de evitar un gol del adversario sin conseguirlo;
      </li>
      <li>
        efectuar marcas no autorizadas en el terreno de juego;
      </li>
      <li>
        jugar el balón cuando está saliendo del terreno de juego, después de haber recibido permiso para abandonarlo;
      </li>
      <li>
        mostrar falta de respeto al espíritu del fútbol;
      </li>
      <li>
        emplear de forma deliberada un truco para pasar el balón a su guardameta (incluso mientras ejecuta un tiro libre) con la cabeza, el pecho, la rodilla, etc.    a fin de burlar la regla, independientemente de si el guardameta toca el balón con la mano;
      </li>
      <li>
        distraer con palabras y comentarios a un adversario durante el juego o en una reanudación.
      </li>
    </ul>
    <h3>
      <b>Celebración de un gol</b>
    </h3>
    <p>
      Los jugadores pueden celebrar la consecución de un gol, pero sin extralimitarse; no se deberán alentar las celebraciones coreografiadas y no deben ocasionar una pérdida de tiempo excesiva.
    </p>
    <p>
      <br />
      Traspasar los límites del terreno de juego para celebrar un gol no se considerará una infracción sancionable con amonestación, pero los jugadores deberán regresar al terreno de juego tan pronto como sea posible.
    </p>
    <p>
      <br />
      Incluso si el gol se anulara, se deberá amonestar al jugador que realice algunas de las acciones siguientes:
    </p>
    <ul>
      <li>
        trepar a las vallas perimetrales o acercarse a los espectadores generando problemas de seguridad;
      </li>
      <li>
        gesticular o actuar de forma provocadora o exaltada;
      </li>
      <li>
        cubrirse la cabeza o la cara con una máscara o artículos similares;
      </li>
      <li>
        quitarse la camiseta o cubrirse la cabeza con ella.
      </li>
    </ul>
    <h3>
      <b>Retrasar la reanudación del juego</b>
    </h3>
    <p>
      Los árbitros amonestarán a aquellos jugadores que retrasen la reanudación del juego cuando:
    </p>
    <ul>
      <li>
        amaguen con sacar de banda, pero cedan de repente el balón a un compañero para que efectúe el saque;
      </li>
      <li>
        dilaten la salida del terreno de juego en el momento de ser sustituidos;
      </li>
      <li>
        retrasen excesivamente la reanudación del juego;
      </li>
      <li>
        lancen el balón lejos, lo retengan y lo lleven consigo, o provoquen un enfrentamiento tocando el balón después de que el árbitro haya detenido el juego;
      </li>
      <li>
        ejecuten un tiro libre desde un lugar erróneo para forzar su repetición.
      </li>
    </ul>
    <h3>
      <b>Infracciones sancionables con expulsión</b>
    </h3>
    <p>
      Se deberá expulsar al jugador, suplente o jugador sustituido que cometa alguna de las siguientes infracciones:
    </p>
    <ul>
      <li>
        impedir mediante una infracción por mano un gol o evitar una ocasión manifiesta de gol (excepto en el caso del guardameta dentro de su propia área);
      </li>
      <li>
        evitar un gol o una ocasión manifiesta de gol de un adversario que se dirige a  la portería del infractor mediante una infracción  sancionable  con un  tiro libre (excepto aquellas situaciones descritas más abajo);
      </li>
      <li>
        juego brusco y grave (falta de extrema dureza);
      </li>
      <li>
        escupir o morder a alguien;
      </li>
      <li>
        conducta violenta;
      </li>
      <li>
        emplear lenguaje o gestos ofensivos, insultantes o humillantes;
      </li>
      <li>
        recibir una segunda amonestación en el mismo partido;
      </li>
      <li>
        entrar en la sala de vídeo.
      </li>
    </ul>
    <p>
      <br />
      Aquellos jugadores, suplentes o jugadores sustituidos que sean expulsados deberán abandonar igualmente las inmediaciones del terreno de juego y del área técnica.
    </p>
    <br />
    <h3>
      <b>Evitar un gol o una ocasión manifiesta de gol</b>
    </h3>
    <p>
      Cuando un jugador evite un gol o una ocasión manifiesta de gol del equipo adversario cometiendo una infracción por mano, deberá ser expulsado, independientemente de dónde se produzca esta.
    </p>
    <p>
      <br />
      Cuando un jugador cometa una infracción contra un adversario dentro de su propia área con la que se evite una ocasión manifiesta de gol del adversario y el árbitro señale tiro penal, el infractor solamente será amonestado si con la infracción se pretendía jugar el balón; en el resto de acciones (p. ej. agarrar, arrastrar, empujar, imposibilidad de jugar el balón, etc.), el infractor deberá ser expulsado.
    </p>
    <p>
      <br />
      Aquel jugador, jugador expulsado, suplente o jugador sustituido que entre en el terreno de juego sin la debida autorización del árbitro e interfiera en el juego o en la evolución de un adversario y que termine evitando un gol del equipo adversario o una ocasión manifiesta de gol habrá cometido una infracción merecedora de expulsión.
    </p>
    <p>
      <br />
      En cualquier caso, se deberán tener en cuenta los siguientes aspectos:
    </p>
    <ul>
      <li>
        distancia entre el lugar donde se cometió la infracción y la portería;
      </li>
      <li>
        dirección del juego;
      </li>
      <li>
        probabilidad de mantener o recuperar el balón;
      </li>
      <li>
        posición y número de  defensores.
      </li>
    </ul>
    <h3>
      <b>Juego brusco y grave (falta de extrema dureza)</b>
    </h3>
    <p>
      Las entradas o disputas del balón que pongan en peligro la integridad física de    un adversario o en las que el jugador se emplee con fuerza excesiva o brutalidad deberán sancionarse como «juego brusco y grave» (faltas de extrema dureza).
    </p>
    <p>
      <br />
      Todo jugador que arremeta contra un adversario en la disputa del balón de frente, por el costado o por detrás, utilizando una o ambas piernas con fuerza excesiva o poniendo en peligro la integridad física del adversario, estará jugando con excesiva dureza.
    </p>
    <br />
    <h3>
      <b>Conducta violenta</b>
    </h3>
    <p>
      Si un jugador se emplea o tiene la intención de emplearse con fuerza excesiva o con brutalidad contra un adversario cuando no le está disputando el balón, o contra un compañero de equipo, un miembro del cuerpo técnico, un miembro  del equipo arbitral, un espectador o contra cualquier otra persona, independientemente de si se produce o no contacto, la acción será considerada conducta violenta.
    </p>
    <p>
      <br />
      Además, el jugador que, sin estar disputando el balón, golpee deliberadamente  a un adversario o a cualquier otra persona en la cabeza o la cara con la mano o   el brazo, la acción será considerada conducta violenta, a menos que la fuerza empleada sea insignificante.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 5">
    <h2>
      <b>Miembros del cuerpo técnico</b>
    </h2>
    <p>
      <br />
      Cuando algún integrante del cuerpo técnico cometa una infracción pero no se pueda identificar al infractor, se sancionará al primer entrenador presente en el área técnica.
    </p>
    <br />
    <h3>
      <b>Advertencia</b>
    </h3>
    <p>
      Por lo general, las siguientes infracciones tendrán como resultado una advertencia — también denominada «apercibimiento»— no obstante, la reiteración en la infracción o su posible carácter improcedente podrían suponer una amonestación o, incluso, la expulsión:
    </p>
    <ul>
      <li>
        entrar en el terreno de juego de manera respetuosa y pacífica;
      </li>
      <li>
        no cooperar con un árbitro, p. ej. al desoír una orden o una petición del asistente o del cuarto árbitro;
      </li>
      <li>
        desacuerdo con una decisión (con palabras o actos) de poca intensidad;
      </li>
      <li>
        salir del área técnica de manera ocasional sin cometer ninguna otra infracción.
      </li>
    </ul>
    <h3>
      <b>Amonestación</b>
    </h3>
    <p>
      Entre las infracciones merecedoras de amonestación, se incluyen las siguientes:
    </p>
    <ul>
      <li>
        no respetar de manera obvia o persistente los límites del área técnica de su equipo;
      </li>
      <li>
        retrasar la reanudación del juego cuando le corresponde hacerlo a su equipo;
      </li>
      <li>
        entrar de manera premeditada al área técnica del equipo adversario (sin ánimo de confrontación);
      </li>
      <li>
        mostrar desaprobación con palabras o acciones, por ejemplo:
        <ul>
          <li>
            lanzando o golpeando con los pies botellas u otros objetos;
          </li>
          <li>
            gesticulando de tal modo que se falte al respeto a uno o varios miembros del equipo arbitral (p. ej. aplaudir de forma sarcástica);
          </li>
        </ul>
      </li>
      <li>
        entrar en el área de revisión;
      </li>
      <li>
        pedir con gestos exagerados o de manera insistente que se muestre tarjeta;
      </li>
      <li>
        repetir de forma insistente el gesto de «revisión» del VAR;
      </li>
      <li>
        gesticular o proceder de manera provocativa o exaltada;
      </li>
      <li>
        comportarse persistentemente de forma inaceptable (incluidas las infracciones reiteradas merecedoras de advertencia);
      </li>
      <li>
        mostrar falta de respeto al espíritu del fútbol.
      </li>
    </ul>
    <h3>
      <b>Expulsión</b>
    </h3>
    <p>
      Entre las infracciones merecedoras de expulsión, se incluyen las siguientes:
    </p>
    <ul>
      <li>
        retrasar la reanudación del juego cuando le corresponde hacerlo al equipo adversario, p. ej. reteniendo la pelota, alejándola con el pie, obstaculizando a un jugador, etc.;
      </li>
      <li>
        abandonar el área técnica de forma deliberada para:
        <ul>
          <li>
            mostrar su desacuerdo o protestar a uno de los árbitros;
          </li>
          <li>
            proceder de forma provocativa o exaltada;
          </li>
        </ul>
      </li>
      <li>
        entrar al área técnica del equipo adversario de manera agresiva o con ánimo de confrontación;
      </li>
      <li>
        lanzar voluntariamente con la mano o con el pie un objeto al terreno de juego;
      </li>
      <li>
        entrar en el terreno de juego para:
        <ul>
          <li>
            enfrentarse a uno de los árbitros, incluso si la acción se produce en el descanso o al finalizar el partido;
          </li>
          <li>
            intervenir en el juego u obstaculizar a un jugador adversario o uno de los árbitros;
          </li>
        </ul>
      </li>
      <li>
        entrar en la sala de vídeo;
      </li>
      <li>
        comportarse de manera agresiva o con intimidación física (p. ej. escupir o morder) con un jugador, un suplente o un miembro del cuerpo técnico adversario, con un árbitro, un espectador o con cualquier otra persona (p. ej. recogepelotas, personal de seguridad o de la competición, etc.);
      </li>
      <li>
        recibir una segunda amonestación en el mismo partido;
      </li>
      <li>
        emplear lenguaje o gestos ofensivos, insultantes o humillantes;
      </li>
      <li>
        utilizar equipos electrónicos o dispositivos de comunicación no autorizados  o comportarse de modo inapropiado por el uso de estos equipos o dispositivos;
      </li>
      <li>
        conducta violenta.
      </li>
    </ul>
    <h3>
      <b>Infracciones relacionadas con el lanzamiento de objetos (o del balón)</b>
    </h3>
    <p>
      En todos los casos, el árbitro tomará la debida medida disciplinaria:
    </p>
    <ul>
      <li>
        temeraria: se amonestará al infractor por conducta antideportiva;
      </li>
      <li>
        con fuerza excesiva: se expulsará al infractor por conducta violenta.
      </li>
    </ul>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 6">
    <h2>
      <b>4. Reanudación del juego tras faltas y conducta incorrecta</b>
    </h2>
    <p>
      <br />
      Si el balón estuviera detenido, el partido se reanudará según la decisión adoptada anteriormente.
    </p>
    <p>
      <br />
      Si el balón estuviera en juego y un jugador cometiera una infracción de carácter físico dentro del terreno de juego contra:
    </p>
    <ul>
      <li>
        un adversario: libre indirecto o directo o tiro penal, según el caso;
      </li>
      <li>
        un compañero de equipo, suplente, jugador sustituido o expulsado, miembro del cuerpo técnico o miembro del equipo arbitral: libre directo o tiro penal, según el caso;
      </li>
      <li>
        otras personas: balón a tierra.
      </li>
    </ul>
    <p>
      <br />
      Se sancionarán con libre indirecto todas las infracciones de carácter verbal.
    </p>
    <p>
      <br />
      Si el balón estuviera en juego y
    </p>
    <ul>
      <li>
        un jugador cometiera una infracción contra un miembro del equipo arbitral o un componente del equipo adversario, ya sea jugador, suplente, jugador sustituido o expulsado, o un miembro del cuerpo técnico fuera del terreno de juego o
      </li>
      <li>
        un suplente, jugador sustituido o expulsado, o un miembro del cuerpo   técnico cometiera una infracción contra un jugador adversario o un miembro del equipo arbitral fuera del terreno de juego, o interfiriera en su evolución,
      </li>
    </ul>
    <p>
      <br />
      se reanudará el juego con un tiro libre desde el punto de la línea de demarcación más cercana al lugar donde se produjo la infracción o la interferencia. Se señalará tiro penal si se trata de una infracción sancionable con un libre directo dentro del área del infractor.
    </p>
    <p>
      <br />
      Si la infracción la cometiera un jugador situado fuera del terreno de juego    contra otro jugador, un suplente, un jugador sustituido o un miembro del    cuerpo técnico de su propio equipo, se reanudará  el  juego  con un  libre indirecto desde el punto de la línea de demarcación más cercano al lugar donde se cometió la infracción.
    </p>
    <p>
      <br />
      Si un jugador contactara con el balón con un objeto que llevara en la mano (bota o botín, espinillera, etc.), se reanudará el juego con un libre directo (o se señalará tiro penal).
    </p>
    <p>
      <br />
      Si un jugador que se halla dentro o fuera del terreno de juego lanzara con la mano o el pie un objeto (distinto al balón con el que se está jugando el partido) contra un adversario, o si lanzara, con la mano o el pie, un objeto (incluyendo    un balón) contra un suplente, jugador sustituido, jugador expulsado o miembro del cuerpo técnico del equipo contrario, o contra un miembro del equipo   arbitral o bien contra el balón con el que se está jugando el partido, el juego se reanudará mediante un libre directo desde el lugar donde el objeto golpeó o habría golpeado a la persona o al balón. Si este lugar se encontrara fuera del terreno de juego, el tiro libre se ejecutará en el punto más cercano de la línea     de demarcación. Se concederá tiro penal si la acción tiene lugar dentro del área del infractor.
    </p>
    <p>
      <br />
      Si  un  suplente, jugador sustituido o  expulsado, jugador temporalmente fuera del terreno de juego o miembro del cuerpo técnico lanzara o chutara un objeto   al terreno de juego y este interfiriera en el  juego  o contactara  con  un adversario o un miembro del equipo arbitral o con el balón, se reanudará el   juego con un libre directo (o tiro penal) en el lugar donde el objeto interfirió en el juego o donde golpeó o habría golpeado al adversario, al miembro del equipo arbitral o al balón.
    </p>
  </ion-card-content>
</ion-card>

<ion-fab class="temary-nav" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="pagina = pagina-1" [disabled]="pagina == 0">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="temary-nav" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="pagina = pagina+1" [disabled]="pagina == 6">
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
