<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar usuario</ion-card-title>
      <ion-card-subtitle>Introduce tus datos</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content class="content-centered column">
      <form [formGroup]="registerForm" (ngSubmit)="signUp()">

            <ion-item>
              <ion-label position="floating">Nombre de usuario</ion-label>
              <ion-input autofocus formControlName="username" placeholder="Nombre de usuario"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Correo electrónico</ion-label>
              <ion-input autofocus formControlName="email" inputmode="email" type="email" placeholder="Correo electrónico"></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input type="password" formControlName="password" placeholder="Contraseña"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Confirmar contraseña</ion-label>
              <ion-input type="password" formControlName="cpassword" placeholder="Confirmar contraseña"></ion-input>
            </ion-item>

        <ion-button id=register-btn type="submit" [disabled]="!registerForm.valid" fill="solid" expand="block" color="dark">Registrarse</ion-button>

      </form>

      <ion-item id="login-link" href="/login" lines="none">
        Ya estoy registrado. Iniciar sesión
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
