<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Regla 1: El terreno de juego</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="pagina == 0">
    <h2>
      <b>1. Superficie de juego</b>
    </h2>
    <p>
      <br />
      El terreno de juego deberá ser una superficie completamente natural o, si lo permite el reglamento de la competición, una superficie completamente artificial, salvo cuando el reglamento de la competición permita una combinación integrada de materiales artificiales y naturales (sistema híbrido).
      <br /><br />
      El color de las superficies artificiales deberá ser verde.
      <br /><br />
      Cuando se utilicen superficies artificiales en partidos de competición entre selecciones de federaciones nacionales de fútbol afiliadas a la  FIFA  o  en partidos internacionales de competición de clubes, la superficie deberá cumplir los requisitos del Programa de Calidad de la FIFA de césped artificial o del International Match Standard, salvo si el IFAB  concediera  una dispensa especial.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 1">
    <h2>
      <b>2. Marcación del terreno</b>
    </h2>
    <p>
      <br />
      El terreno de juego será rectangular y estará marcado con líneas continuas que no representen peligro alguno. Se podrá utilizar material artificial para la marcación de terrenos naturales si esto no supone un peligro. Dichas líneas integrarán las zonas que demarcan.
    </p>
    <p>
      <br />
      Se utilizarán únicamente las líneas estipuladas en la Regla 1 para marcar el terreno de juego. En superficies artificiales, se permitirá la coexistencia con otras líneas, siempre que sean de un color diferente y puedan distinguirse claramente de las líneas de demarcación de fútbol.
    </p>
    <p>
      <br />
      Las dos líneas de demarcación más largas se denominarán líneas de banda. Las dos más cortas serán las líneas de meta.
    </p>
    <p>
      <br />
      El terreno de juego estará dividido en dos mitades por una línea que unirá los puntos medios de las dos líneas de banda: la línea central o de medio campo.
    </p>
    <p>
      <br />
      El punto central del terreno de juego se hallará en el punto medio de la línea central, alrededor del cual se trazará una circunferencia con un radio de 9.15 m (10 yd).
    </p>
    <p>
      <br />
      Se podrán realizar marcaciones fuera del terreno de juego, a 9.15 m (10 yd) del arco de esquina y en perpendicular a las líneas de meta y a las líneas de banda.
    </p>
    <p>
      <br />
      Todas las líneas deberán tener la misma anchura, como máximo 12 cm (5 in). Las líneas de meta tendrán la misma anchura que los postes y el travesaño.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 2">
    <h2>
      <b>3. Dimensiones</b>
    </h2>
    <p>
      <br />
      La longitud de la línea de banda deberá ser superior a la longitud de la línea de meta.
    </p>
    <p>
      <br />
      Longitud (línea de banda): mínimo	90 m (100 yd)
      máximo	120 m (130 yd)	Longitud (línea de meta): mínimo	45 m (50 yd)
      máximo	90 m (100 yd)
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 3">
    <h2>
      <b>4. Dimensiones en partidos internacionales</b>
    </h2>
    <p>
      <br />
      Longitud (línea de banda): mínimo	100 m (110 yd)
      máximo	110 m  (120 yd)	Longitud (línea de meta): mínimo	64 m (70 yd)
      máximo	75 m (80 yd)
    </p>
    <p>
      <br />
      Las competiciones podrán determinar la longitud de la línea de meta y de la línea de banda respetando estos límites.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 4">
    <h2>
      <b>5. Área de meta</b>
    </h2>
    <p>
      <br />
      Se trazarán dos líneas perpendiculares a la línea de meta, a 5.5 m (6 yd) de la parte interior de cada uno de los postes de la portería. Dichas líneas se adentrarán 5.5 m (6 yd) en el terreno de juego y se unirán con una línea paralela a la línea de meta. El área delimitada por dichas líneas y la línea de meta conformará el área de meta.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 5">
    <h2>
      <b>6. Área penal</b>
    </h2>
    <p>
      <br />
      Se trazarán dos líneas perpendiculares a la línea de meta, a 16.5 m (18 yd) de la parte interior de cada uno de los postes de la portería. Dichas líneas se adentrarán 16.5 m (18 yd) en el terreno de juego y se unirán con una línea paralela a la línea de meta. El área delimitada por dichas líneas y la línea de meta conformará el área penal.
      <br /><br />
      En el interior de cada una de las áreas penales se marcará un punto a 11 m (12 yd) de distancia equidistante a los dos postes: el punto penal o de penalti.
      <br /><br />
      Al exterior de ambas áreas penales se trazará un arco de circunferencia con un radio de 9.15 m (10 yd) desde el centro del punto penal.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 6">
    <h2>
      <b>7. Área de esquina</b>
    </h2>
    <p>
      <br />
      El área de esquina se marcará trazando un cuadrante en el interior del terreno de juego con un radio de 1 m (1 yd) desde el banderín de esquina.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 7">
    <h2>
      <b>8. Postes de banderines</b>
    </h2>
    <p>
      <br />
      En cada una de las esquinas, se colocará un poste no puntiagudo con un banderín, cuya altura mínima será de 1.5 m (5 ft).
      <br /><br />
      Se podrán colocar banderines en los dos extremos de la línea central, a una distancia mínima de 1 m (1 yd) de la línea de banda y en el exterior del terreno de juego.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 8">
    <h2>
      <b>9. Área técnica</b>
    </h2>
    <p>
      <br />
      El área técnica se relaciona en particular con los partidos disputados en estadios que cuentan con un área específica con asientos para el cuerpo técnico, los suplentes y los jugadores sustituidos (el banquillo), cuyas características se describen a continuación:
    </p>

    <ul>
      <li>
        se extenderá únicamente 1 m (1 yd) a cada lado del banquillo y hasta 1 m (1 yd) de distancia de la línea de banda;
      </li>
      <li>
        deberá delimitarse con líneas de demarcación;
      </li>
      <li>
        el número de personas autorizadas en el área técnica estará determinado por el reglamento de la competición;
      </li>
      <li>
        los ocupantes del área técnica:
        <ul>
          <li>
            deberán identificarse antes del inicio del partido, de conformidad con el reglamento de la competición;
          </li>
          <li>
            deberán comportarse de un modo responsable;
          </li>
          <li>
            deberán permanecer dentro de los límites del área técnica, salvo en circunstancias especiales, como por ejemplo, si el fisioterapeuta o el  médico debe entrar en el terreno de juego, con el permiso del árbitro, para atender a un jugador lesionado;
          </li>
        </ul>
      </li>
      <li>
        solamente podrá dar instrucciones tácticas desde el área técnica una persona a la vez.
      </li>
    </ul>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 9">
    <h2>
      <b>10. Porterías</b>
    </h2>
    <p>
      <br />
      En el centro de cada una de las  dos  líneas de  meta se  colocará una  portería. Una portería consta de dos postes verticales, equidistantes de los postes de los banderines de esquina y unidos en la parte superior por un larguero o travesaño horizontal. Los postes y el travesaño deberán estar fabricados con materiales homologados.
    </p>
    <p>
      <br />
      Asimismo, estos deberán tener forma cuadrada, rectangular, redonda, elíptica o una combinación de estas formas y no deberán constituir ningún peligro.
    </p>
    <p>
      <br />
      La distancia entre la parte interior de los postes será de 7.32 m (8 yd) y la distancia del borde inferior del travesaño al suelo será de 2.44 m (8 ft).
    </p>
    <p>
      <br />
      La posición de los postes de la portería con respecto a la línea de meta debe ajustarse a la presentada en las ilustraciones.
    </p>
    <p>
      <br />
      Los postes y el travesaño deberán ser de color blanco y tendrán la misma anchura y espesor, como máximo 12 cm (5 in).
    </p>
    <p>
      <br />
      Si el travesaño se rompiera o se saliera de su sitio, se detendrá el juego hasta   que haya sido reparado o devuelto a su posición original. El juego se reanudará con un balón a tierra. Si no fuera posible repararlo, se deberá suspender el partido. No está permitido colocar una  cuerda  ni  ningún otro  material flexible o peligroso para sustituir el travesaño.
    </p>
    <p>
      <br />
      Se podrán enganchar redes en las porterías y en el suelo detrás de estas. Las redes deberán estar sujetas de forma adecuada, de manera que no molesten al guardameta.
      <br /><br />
    </p>
    <h2><b>Seguridad</b></h2>
    <p>
      Las porterías (incluso las portátiles) deberán estar ancladas firmemente en el suelo.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 10">
    <h2>
      <b>11. Detección automática de goles (DAG)</b>
    </h2>
    <p>
      <br />
      Los sistemas de DAG pueden usarse para verificar si se ha anotado un gol y apoyar la decisión del árbitro.
    </p>
    <p>
      <br />
      Allí donde se haga uso de los sistemas de DAG, se podrá modificar la estructura de las porterías de acuerdo con lo estipulado en el Programa de Calidad dela FIFA para la DAG y las Reglas de Juego. El uso de estos sistemas debe estar regulado en el reglamento de la competición.
      <br /><br />
    </p>
    <h2><b>Principios de la DAG</b></h2>
    <p>
      El sistema DAG se aplicará únicamente a la línea de meta y solo para determinar si se ha anotado un gol.
      <br /><br />
      El dispositivo deberá indicar si se ha anotado gol de manera inmediata y confirmarlo automáticamente en un tiempo máximo de  un  segundo, dato  que se transmitirá solamente al equipo arbitral (por medio del reloj del árbitro, por vibración y señal visual).
      <br /><br />
    </p>
    <h2><b>Requisitos y especificaciones de la DAG</b></h2>
    <p>
      Si se utiliza la DAG en competición, los organizadores deberán garantizar que   el sistema cuente con la correspondiente certificación de una de las siguientes normas:
    </p>
    <ul>
      <li>
        FIFA Quality PRO
      </li>
      <li>
        FIFA Quality
      </li>
      <li>
        IMS - INTERNATIONAL MATCH STANDARD
      </li>
    </ul>
    <p>
      Una institución independiente de análisis comprobará la precisión y el correcto funcionamiento de los diferentes sistemas de acuerdo con el Programa de Calidad de la FIFA para la DAG. Si el dispositivo no funcionara según lo   dispuesto en dicho manual, el árbitro no podrá utilizar la DAG y se lo   comunicará a las autoridades competentes.
      <br /><br />
      Cuando se vaya a hacer uso de la DAG, el árbitro deberá comprobar su correcto funcionamiento antes del partido, según se estipula en el manual de pruebas.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 11">
    <h2>
      <b>12. Publicidad comercial</b>
    </h2>
    <p>
      <br />
      No se permite publicidad comercial alguna, ya sea real o virtual, en el terreno  de juego, en la superficie dentro del área que abarcan las redes de portería, en el área técnica o en el área de revisión, o en el suelo a una distancia de 1 m (1 yd) de las líneas de demarcación del terreno de juego, desde el momento
    </p>
    <p>
      <br />
      en que los equipos entran en el terreno de juego hasta que lo abandonan en     el descanso del medio tiempo, y desde el momento en que vuelven a entrar al terreno de juego hasta el término del partido. Está prohibida la publicidad en las porterías, las redes, los banderines de esquina y sus postes, y en todo equipamiento anexo a estos elementos (p. ej. cámaras, micrófonos, etc.).
    </p>
    <p>
      <br />
      Además, la publicidad vertical deberá hallarse al menos a:
    </p>
    <ul>
      <li>
        1 m (1 yd) de las líneas de banda;
      </li>
      <li>
        a la misma distancia de la línea de meta que la profundidad de las redes de la portería;
      </li>
      <li>
        1 m (1 yd) de la red de la portería.
      </li>
    </ul>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 12">
    <h2>
      <b>13. Logotipos y emblemas</b>
    </h2>
    <p>
      <br />
      Durante el tiempo de juego, queda prohibida en el terreno de juego, las redes    de la portería y el área que ocupan, las porterías y los postes de los banderines de esquina la reproducción real o virtual de logotipos o emblemas representativos de la FIFA, las confederaciones, las federaciones nacionales de fútbol, las competiciones, los clubes o de otras entidades. Sí están permitidos   en los banderines de esquina.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 13">
    <h2>
      <b>14. Árbitros asistentes de vídeo (VAR)</b>
    </h2>
    <p>
      <br />
      En aquellos partidos donde se utilice el VAR, se deberá contar con una sala de vídeo y al menos con un área de revisión.
      <br /><br />
    </p>
    <h2><b>Sala de vídeo</b></h2>
    <p>
      La sala de vídeo es el lugar donde realizan su labor el árbitro asistente de vídeo (VAR), el asistente o los asistentes del VAR (AVAR) y su técnico de repeticiones; estará ubicada en el mismo estadio, cerca de este o en un emplazamiento más alejado. Durante el partido, únicamente las personas autorizadas podrán entrar en la sala de vídeo o comunicarse con el VAR,  el AVAR  o el técnico de   repeticiones.
    </p>
    <p>
      <br />
      Será expulsado todo jugador, suplente, jugador sustituido o miembro del cuerpo técnico que acceda a la sala de vídeo.
      <br /><br />
    </p>
    <h2><b>Área de revisión</b></h2>
    <p>
      En aquellos partidos donde se utilice el VAR, se deberá contar al menos con un área de revisión en la que el árbitro pueda llevar a cabo revisiones en el     terreno de juego. Dicha área estará:
    </p>
    <ul>
      <li>
        situada en un lugar visible fuera del terreno de juego;
      </li>
      <li>
        claramente marcada.
      </li>
    </ul>
    <p>
      <br />
      Se amonestará a todos aquellos jugadores, suplentes, jugadores sustituidos o miembros del cuerpo técnico que entren en el área de revisión.
    </p>
  </ion-card-content>

</ion-card>

<ion-fab class="temary-nav" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="pagina = pagina-1" [disabled]="pagina == 0">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="temary-nav" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="pagina = pagina+1" [disabled]="pagina == 13">
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
