<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Regla 1: El terreno de juego</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="pagina == 0">
    <h2>
      <b>Superficie de juego</b>
    </h2>
    <p>
      <br />
      El terreno de juego deberá ser una superficie completamente natural o, si lo permite el reglamento de la competición, una superficie completamente artificial, salvo cuando el reglamento de la competición permita una combinación integrada de materiales artificiales y naturales (sistema híbrido).
      <br /><br />
      El color de las superficies artificiales deberá ser verde.
      <br /><br />
      Cuando se utilicen superficies artificiales en partidos de competición entre selecciones de federaciones nacionales de fútbol afiliadas a la  FIFA  o  en partidos internacionales de competición de clubes, la superficie deberá cumplir los requisitos del Programa de Calidad de la FIFA de césped artificial o del International Match Standard, salvo si el IFAB  concediera  una dispensa especial.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 1">
    <h2>
      <b>Marcación del terreno</b>
    </h2>
    <p>
      <br />
      El terreno de juego será rectangular y estará marcado con líneas continuas que no representen peligro alguno. Se podrá utilizar material artificial para la marcación de terrenos naturales si esto no supone un peligro. Dichas líneas integrarán las zonas que demarcan.
    </p>
    <p>
      <br />
      Se utilizarán únicamente las líneas estipuladas en la Regla 1 para marcar el terreno de juego. En superficies artificiales, se permitirá la coexistencia con otras líneas, siempre que sean de un color diferente y puedan distinguirse claramente de las líneas de demarcación de fútbol.
    </p>
    <p>
      <br />
      Las dos líneas de demarcación más largas se denominarán líneas de banda. Las dos más cortas serán las líneas de meta.
    </p>
    <p>
      <br />
      El terreno de juego estará dividido en dos mitades por una línea que unirá los puntos medios de las dos líneas de banda: la línea central o de medio campo.
    </p>
    <p>
      <br />
      El punto central del terreno de juego se hallará en el punto medio de la línea central, alrededor del cual se trazará una circunferencia con un radio de 9.15 m (10 yd).
    </p>
    <p>
      <br />
      Se podrán realizar marcaciones fuera del terreno de juego, a 9.15 m (10 yd) del arco de esquina y en perpendicular a las líneas de meta y a las líneas de banda.
    </p>
    <p>
      <br />
      Todas las líneas deberán tener la misma anchura, como máximo 12 cm (5 in). Las líneas de meta tendrán la misma anchura que los postes y el travesaño.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 2">
    <h2>
      <b>Dimensiones</b>
    </h2>
    <p>
      <br />
      La longitud de la línea de banda deberá ser superior a la longitud de la línea de meta.
    <p>
      <br />
      Longitud (línea de banda): mínimo	90 m (100 yd)
      máximo	120 m (130 yd)	Longitud (línea de meta): mínimo	45 m (50 yd)
      máximo	90 m (100 yd)
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 3">
    <h2>
      <b>Dimensiones en partidos internacionales</b>
    </h2>
    <p>
      <br />
      Longitud (línea de banda): mínimo	100 m (110 yd)
      máximo	110 m  (120 yd)	Longitud (línea de meta): mínimo	64 m (70 yd)
      máximo	75 m (80 yd)
    <p>
      <br />
      Las competiciones podrán determinar la longitud de la línea de meta y de la línea de banda respetando estos límites.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 4">
    <h2>
      <b>Área de meta</b>
    </h2>
    <p>
      <br />
      Se trazarán dos líneas perpendiculares a la línea de meta, a 5.5 m (6 yd) de la parte interior de cada uno de los postes de la portería. Dichas líneas se adentrarán 5.5 m (6 yd) en el terreno de juego y se unirán con una línea paralela a la línea de meta. El área delimitada por dichas líneas y la línea de meta conformará el área de meta.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 5">
    <h2>
      <b>Área penal</b>
    </h2>
    <p>
      <br />
      Se trazarán dos líneas perpendiculares a la línea de meta, a 16.5 m (18 yd) de la parte interior de cada uno de los postes de la portería. Dichas líneas se adentrarán 16.5 m (18 yd) en el terreno de juego y se unirán con una línea paralela a la línea de meta. El área delimitada por dichas líneas y la línea de meta conformará el área penal.
      <br /><br />
      En el interior de cada una de las áreas penales se marcará un punto a 11 m (12 yd) de distancia equidistante a los dos postes: el punto penal o de penalti.
      <br /><br />
      Al exterior de ambas áreas penales se trazará un arco de circunferencia con un radio de 9.15 m (10 yd) desde el centro del punto penal.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 6">
    <h2>
      <b>Área de meta</b>
    </h2>
    <p>
      <br />
      Se trazarán dos líneas perpendiculares a la línea de meta, a 16.5 m (18 yd) de la parte interior de cada uno de los postes de la portería. Dichas líneas se adentrarán 16.5 m (18 yd) en el terreno de juego y se unirán con una línea paralela a la línea de meta. El área delimitada por dichas líneas y la línea de meta conformará el área penal.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 7">
    <h2>
      <b>Área de meta</b>
    </h2>
    <p>
      <br />
      Se trazarán dos líneas perpendiculares a la línea de meta, a 5.5 m (6 yd) de la parte interior de cada uno de los postes de la portería. Dichas líneas se adentrarán 5.5 m (6 yd) en el terreno de juego y se unirán con una línea paralela a la línea de meta. El área delimitada por dichas líneas y la línea de meta conformará el área de meta.
    </p>
  </ion-card-content>
</ion-card>
<div class="nav-buttons">
  <ion-button (click)="pagina = pagina-1" expand="full" fill="solid" color="dark" [disabled]="pagina == 0">Atrás</ion-button>
  <ion-button (click)="pagina = pagina+1" expand="full" fill="solid" color="dark">Siguiente</ion-button>
</div>
</ion-content>
