<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Regla 4: El equipamiento de los jugadores</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="pagina == 0">
    <h2>
      <b>1. Seguridad</b>
    </h2>
    <p>
      <br />
      Los jugadores no deberán llevar equipamiento ni objetos peligrosos.
      <br /><br />
      Se prohíbe todo tipo de accesorios de joyería (collares, anillos, brazaletes, pendientes, bandas de cuero o goma, etc.). Los jugadores tendrán la obligación de quitárselos. Asimismo, no se permite cubrirlos con cinta adhesiva.
      <br /><br />
      Se deberá inspeccionar a los jugadores antes del inicio del partido y a los suplentes antes de que entren en el terreno de juego. Si un jugador llevara equipamiento o accesorios de joyería prohibidos o peligrosos, el árbitro deberá ordenar al jugador:
    </p>
    <ul>
      <li>
        que se quite el objeto o prenda en cuestión;
      </li>
      <li>
        que salga del terreno de juego en la próxima detención del juego si no puede   o no quiere acatar la orden.
      </li>
    </ul>
    <p>
      <br />
      Deberá amonestarse a todo jugador que rehúse acatar esta regla o que vuelva a ponerse el objeto o prenda.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 1">
    <h2>
      <b>2. Equipamiento obligatorio</b>
    </h2>
    <p>
      <br />
      El equipamiento obligatorio de un jugador se compone de las siguientes prendas:
    </p>
    <ul>
      <li>
        camiseta con mangas;
      </li>
      <li>
        pantalones cortos;
      </li>
      <li>
        medias: si se coloca cinta adhesiva o cualquier otro material en la parte exterior, deberá ser del mismo color que la parte de las medias sobre la que se use o que cubra;
      </li>
      <li>
        espinilleras: deberán estar fabricadas de un material tal que proteja de forma razonable; quedarán cubiertas por las medias;
      </li>
      <li>
        calzado de fútbol.
      </li>
    </ul>
    <p>
      <br />
      Los guardametas podrán utilizar pantalones largos.
    </p>
    <p>
      <br />
      Aquel jugador que pierda accidentalmente una bota o una espinillera deberá volver a colocársela lo más pronto posible, no más tarde de que el balón vuelva     a dejar de estar en juego. Si antes de volver a calzarse o de colocarse de nuevo     la espinillera el jugador jugara el balón o marcara un gol, el gol será válido.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 2">
    <h2>
      <b>3. Colores</b>
    </h2>
    <ul>
      <li>
        Los dos equipos vestirán colores que los diferencien entre sí y del equipo arbitral.
      </li>
      <li>
        Los guardametas vestirán colores que los diferencien de los demás jugadores  y del equipo arbitral.
      </li>
      <li>
        Si las camisetas de los dos guardametas fueran del mismo color y ninguno de ellos dispusiera de una de repuesto de otro color, el árbitro autorizará que se juegue el partido.
      </li>
    </ul>
    <p>
      <br />
      Las camisetas interiores:
    </p>
    <ul>
      <li>
        podrán ser de un único color, el mismo que el color principal de las mangas de la camiseta
      </li>
      <li>
        podrán ser estampadas o de varios colores siempre y cuando repliquen de forma exacta las mangas de la camiseta.
      </li>
    </ul>
    <p>
      <br />
      Si se usan mallas térmicas, estas deberán ser del color principal de los pantalones cortos o de su parte inferior; además, los jugadores del mismo equipo deberán llevarlas del mismo color.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 3">
    <h2>
      <b>4. Otro tipo de equipamiento</b>
    </h2>
    <p>
      <br />
      Se permite equipamiento protector no peligroso, como por ejemplo protectores de cabeza, máscaras faciales, rodilleras y coderas fabricados con materiales blandos, ligeros y acolchados. También están permitidas las gorras para guardametas y las gafas de protección.
    </p>
    <br />
    <h2>
      <b>Protectores de cabeza</b>
    </h2>
    <p>
      Cuando se usen protectores de cabeza (excepto gorras para guardametas) estos deberán:
    </p>
    <ul>
      <li>
        ser de color negro o del color principal de la camiseta (siempre y cuando los jugadores de un mismo equipo usen el mismo color);
      </li>
      <li>
        estar en consonancia con el aspecto profesional del equipamiento del jugador;
      </li>
      <li>
        no estar unidos o sujetos a la camiseta;
      </li>
      <li>
        no suponer ningún riesgo para el jugador que lo lleve ni para ningún otro jugador (p. ej. un cierre alrededor del cuello);
      </li>
      <li>
        carecer de partes que sobresalgan (protuberancias).
      </li>
    </ul>
    <br />
    <h2>
      <b>Comunicación electrónica</b>
    </h2>
    <p>
      Los jugadores (lo que incluye a suplentes, jugadores sustituidos y jugadores expulsados) no están autorizados para llevar o utilizar ningún tipo de equipos electrónicos o de comunicación, excepto en el caso que se permita el uso de EPTS. Se permite el uso de todo tipo de sistemas electrónicos de comunicación por parte del cuerpo técnico, en lo que respecta exclusivamente al bienestar y    la seguridad del jugador o por razones tácticas o de instrucción, pero solo se pueden usar equipos pequeños y portátiles (p. ej. micrófonos, auriculares, teléfonos móviles/inteligentes, relojes inteligentes, tabletas u ordenadores portátiles). Serán expulsados aquellos miembros del cuerpo técnico que usen equipos no autorizados o que se comporten de manera inapropiada como producto del uso de equipos electrónicos o de comunicación.
    </p>
    <br />
    <h2>
      <b>Sistemas electrónicos de seguimiento del rendimiento (EPTS)</b>
    </h2>
    <p>
      Cuando se usen dispositivos como parte de sistemas electrónicos de seguimiento del rendimiento de jugadores en una competición oficial auspiciada por la FIFA, una confederación o una federación nacional, el organizador de la competición deberá garantizar que los dispositivos que van adheridos al equipamiento de los jugadores no sean peligrosos. Además, deberán satisfacer uno de los estándares siguientes: IMS (International Match Standard) o FIFA Quality.
    </p>
    <p>
      <br />
      La FIFA deberá aprobar las instituciones que llevan a cabo estos test.
    </p>
    <p>
      <br />
      Cuando los EPTS los faciliten los organizadores del partido o la competición, será responsabilidad de estos garantizar que la información y los datos transmitidos por el EPTS al área técnica durante los partidos de una competición oficial son fiables y precisos.
    </p>
    <p>
      <br />
      La FIFA ha desarrollado un estándar profesional que fue aprobado por el IFAB con el fin de asistir a los organizadores de competiciones a la hora de aprobar dispositivos electrónicos de seguimiento del rendimiento precisos y fiables.
    </p>
    <p>
      <br />
      La marca que aparece a continuación indica que el EPTS (ya sea este un tecnoaccesorio o un dispositivo óptico) se ha probado oficialmente y satisface los requisitos de fiabilidad y precisión de datos posicionales en el fútbol:
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 4">
    <h2>
      <b>5. Eslóganes, mensajes, imágenes y publicidad</b>
    </h2>
    <p>
      <br />
      El equipamiento no deberá contener eslóganes, mensajes o imágenes de carácter político, religioso o personal. Los jugadores no deberán  mostrar  ropa  interior con eslóganes, mensajes o imágenes de carácter político, religioso, personal o publicitario que no sea el logotipo del fabricante. En caso de infracción, el    jugador o el equipo serán sancionados por el organizador de la competición, la federación nacional de fútbol o la FIFA.
    </p>
    <br />
    <h2>
      <b>Principios</b>
    </h2>
    <ul>
      <li>
        La Regla 4 se aplica a todo tipo de equipamiento (incluidas las prendas de ropa) que lleven jugadores, suplentes y jugadores sustituidos; sus principios serán también aplicables a todos los miembros del cuerpo técnico ubicados en el área técnica.
      </li>
      <li>
        (Generalmente) se permite lo siguiente:
        <ul>
          <li>
            el número del jugador, el nombre, el escudo del equipo, eslóganes de alguna iniciativa, logotipos que promuevan el fútbol, el respeto y la integridad, así como todo tipo de publicidad autorizada en el reglamento de la competición o por el reglamento de la federación nacional, la confederación o la FIFA;
          </li>
          <li>
            los datos de un partido: equipo, fecha, competición, estadio, ciudad.
          </li>
        </ul>
      </li>
      <li>
        Los eslóganes autorizados, los mensajes y las imágenes deberán aparecer únicamente en el frontal de la camiseta o en el brazalete.
      </li>
      <li>
        En algunos casos, los eslóganes, los mensajes o las imágenes aparecerán únicamente en el brazalete del capitán.
      </li>
    </ul>
    <br />
    <h2>
      <b>Interpretación de la Regla</b>
    </h2>
    <p>
      A la hora de decidir si un eslogan, un mensaje o una imagen son permisibles, se deberá considerar lo estipulado en la Regla 12 (Faltas y conducta incorrecta),  que obliga al árbitro a actuar en el caso de que un jugador sea responsable de:
    </p>
    <ul>
      <li>
        emplear lenguaje o gestos ofensivos, insultantes o humillantes;
      </li>
      <li>
        gesticular de forma provocadora o exaltada.
      </li>
    </ul>
    <p>
      <br />
      No estarán autorizados todos aquellos eslóganes, mensajes e imágenes que se incluyan en estas categorías.
    </p>
    <p>
      <br />
      Si bien las categorías «religioso» y «personal» son fáciles de definir, la   categoría «política» no lo es tanto; no obstante, no se permitirán los siguientes eslóganes, mensajes e imágenes:
    </p>
    <ul>
      <li>
        de personas, vivas o ya fallecidas, a menos que formen parte del nombre de la competición;
      </li>
      <li>
        de partidos, organizaciones, grupos, etc. de carácter político, ya sean locales, regionales, nacionales o internacionales;
      </li>
      <li>
        de gobiernos locales, regionales o nacionales ni de sus ministerios, cargos o funciones;
      </li>
      <li>
        de ninguna organización de carácter discriminatorio;
      </li>
      <li>
        de ninguna organización cuyos objetivos o acciones puedan ofender a un número considerable de personas;
      </li>
      <li>
        de ningún acto o acontecimiento de carácter político.
      </li>
    </ul>
    <p>
      <br />
      Cuando se conmemore un acto relevante nacional o internacional, se deberán tener en consideración las sensibilidades del equipo adversario, de sus seguidores y del público en general.
    </p>
    <p>
      <br />
      Las reglas de la competición podrán estipular otro tipo de restricciones o limitaciones relativas al tamaño, número y posición de los eslóganes, mensajes e imágenes permitidos. Se recomienda dirimir las posibles disputas sobre eslóganes, mensajes o imágenes antes del comienzo del partido o la competición.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 5">
    <h2>
      <b>6. Infracciones y sanciones</b>
    </h2>
    <p>
      <br />
      En caso de infracción de esta regla, no es necesario detener el juego y, además:
    </p>
    <ul>
      <li>
        el árbitro ordenará al jugador infractor que abandone el terreno de juego para que corrija su equipamiento;
      </li>
      <li>
        el jugador saldrá del terreno de juego cuando se detenga el juego, a menos que ya haya corregido su equipamiento.
      </li>
    </ul>
    <p>
      <br />
      Los jugadores que abandonen el terreno de juego para corregir o cambiar su equipamiento deberán:
    </p>
    <ul>
      <li>
        someter el equipamiento al control de un miembro del equipo arbitral antes de poder volver a entrar;
      </li>
      <li>
        volver a entrar únicamente con el permiso del árbitro (el cual puede concederse durante el juego).
      </li>
    </ul>
    <p>
      <br />
      Se amonestará a aquellos jugadores que vuelvan a entrar al terreno de juego sin el permiso expreso del árbitro; si se tuviera que detener el juego para amonestar al jugador, se concederá un libre indirecto en el lugar donde se encontraba el balón cuando se detuvo el juego, a menos que se hubiera producido una interferencia, en cuyo caso se concederá un libre directo (o un tiro penal) desde el lugar en el que se produjo dicha interferencia.
    </p>
  </ion-card-content>

</ion-card>

<ion-fab class="temary-nav" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="pagina = pagina-1" [disabled]="pagina == 0">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="temary-nav" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="pagina = pagina+1" [disabled]="pagina == 5">
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
