.questions {
  display: flex;
  flex-flow: row wrap;

  .question-box {
    width: 1.75em;
    height: 1.75em;
    font-size: 11px;
    border: 1px solid black;
    border-radius: 2px;
    margin: 1em 1em 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .current-question {
    background-color: #84FFFF!important;
  }

  .correct-question {
    background-color: #00E676
  }

  .failed-question {
    background-color: rgba(255,82,82, 0.75);
  }
}

.question-details {
  padding: 1em;
  margin-bottom: 5em;

  ion-item {
    --background: transparent;
  }

  .question-title {
    background-color: #ddd;
    padding: 1em;
    color: black;
    font-weight: bold;
  }

  .answers {
    ion-card {
      padding: 1em;
      color: black;
    }
    .correct-answer {
      background-color: #00E676;
    }
    .wrong-answer {
      background-color: rgba(255,82,82, 0.75);
    }
    ion-label {
      font-size: 14px;
      margin: 1em;
      white-space: pre-wrap!important;
    }
  }
}

.questions-btns {
  display: flex;
  flex-flow: row;
  position: fixed;
  bottom: 0;
  width: 100%;

  ion-button {
    width: 50%;
  }
}
