<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="testQuestions">{{ testQuestions.section }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="testQuestions">

  <div class="questions">
    <div *ngFor="let question of testQuestions.questions ; let i=index"
      class="question-box"
      [ngClass]="{ 'current-question': question == currentQuestion,
      'correct-question': isCorrectQuestion(question),
      'failed-question': isFailedQuestion(question) }"
      (click)="onQuestionSelected(question, i)">
      {{ i+1 }}
    </div>
  </div>

  <div class="question-details">
    <ion-label>{{ currentIndex + 1 }}. {{ currentQuestion.question }}</ion-label>

    <ion-list class="answers">
      <ion-item *ngFor="let answer of currentQuestion.answers ; let i = index"
        (click)="onAnswerSelected(i)">
        <div *ngIf="i == currentQuestion.correctAnswer && showCorrect"
          class="correct-answer">
          <ion-icon name="checkmark-outline"></ion-icon>
        </div>
        <div *ngIf="i == selectedAnswer && showError"
          class="wrong-answer">
          <ion-icon name="close-outline"></ion-icon>
        </div>
        <item-label>{{ answer }}</item-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="questions-btns">
    <ion-button expand="full" fill="solid" color="dark"
     (click)="onQuestionChanged(-1)"
     [disabled]="currentIndex == 0">Anterior</ion-button>
    <ion-button *ngIf="currentIndex < testQuestions.questions.length-1"
      expand="full" fill="solid" color="dark"
      (click)="onQuestionChanged(+1)">Siguiente</ion-button>
    <ion-button *ngIf="currentIndex == testQuestions.questions.length-1"
      expand="full" fill="solid" color="dark"
      (click)="finishTest()">Finalizar</ion-button>
  </div>
</ion-content>
