<ion-content>
<ion-card>
  <ion-card-header>
    <ion-card-title>Regla 13: Tiros libres</ion-card-title>
  </ion-card-header>
  <ion-card-content *ngIf="pagina == 0">
    <h2>
      <b>1. Tipos de tiros libres</b>
    </h2>
    <p>
      <br />
      Se concederá un libre directo o indirecto al equipo adversario de un jugador, suplente, jugador sustituido o expulsado o miembro del cuerpo técnico responsable de una infracción.
    </p>
    <br />
    <h2>
      <b>Señal de tiro libre indirecto</b>
    </h2>
    <p>
      <br />
      El árbitro indicará un tiro libre indirecto levantando un brazo por encima de la cabeza; esta señal se mantendrá hasta que se ejecute el tiro y el balón toque a otro jugador, deje de estar en juego o esté claro que no es posible marcar un gol directamente.
    </p>
    <p>
      <br />
      Si el árbitro se olvidara de indicar que el tiro es indirecto y,  tras el lanzamiento,  el balón entrara directamente en la portería, se deberá repetir el tiro.
    </p>
    <br />
    <h2>
      <b>El balón entra en la portería</b>
    </h2>
    <ul>
      <li>
        Si un libre directo entra directamente en la portería contraria, se concederá gol.
      </li>
      <li>
        Si un libre indirecto entra directamente en la portería contraria, se concederá saque de meta.
      </li>
      <li>
        Si un libre directo o indirecto entra directamente en la propia portería, se concederá saque de esquina al equipo adversario.
      </li>
    </ul>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 1">
    <h2>
      <b>2. Procedimiento</b>
    </h2>
    <p>
      <br />
      Todos los tiros libres se ejecutarán desde el lugar donde se produzca la infracción, excepto en los siguientes casos:
    </p>
    <ul>
      <li>
        los libres indirectos concedidos a favor del equipo atacante por una infracción dentro del área de meta del adversario se ejecutarán desde el punto más próximo de la línea del área de meta paralela a la línea de meta;
      </li>
      <li>
        los tiros libres a favor del equipo defensor en su área de meta podrán ejecutarse desde cualquier punto del área de meta;
      </li>
      <li>
        los tiros libres por infracciones relacionadas con la entrada, el reingreso o la salida del terreno de juego de un jugador sin permiso se ejecutarán desde el lugar donde se encontrase el balón cuando se detuviese el juego. Sin  embargo, cuando un jugador cometa una infracción fuera del terreno de juego, el juego se reanudará con un tiro libre ejecutado en la línea de demarcación más cercana a donde se produjese la infracción; en el caso de infracciones sancionables con libre directo dentro del área penal del   infractor, se señalará penal;
      </li>
      <li>
        aquellos casos en los que las Reglas de Juego indiquen otra posición (v. Reglas 3, 11 y 12).
      </li>
    </ul>
    <p>
      <br />
      El balón:
    </p>
    <ul>
      <li>
        deberá estar inmóvil y el ejecutor no deberá tocar el balón por segunda vez hasta que lo haya tocado otro jugador;
      </li>
      <li>
        estará en juego una vez haya sido golpeado con el pie y se mueva con claridad.
      </li>
    </ul>
    <p>
      <br />
      Hasta que el balón esté en juego, todos los adversarios deberán permanecer:
    </p>
    <ul>
      <li>
        como mínimo a 9.15 m (10 yd) del balón, salvo si se hallan sobre la línea de meta entre los postes de su propia portería;
      </li>
      <li>
        fuera del área penal en el caso de tiros libres dentro del área penal del adversario.
      </li>
    </ul>
    <p>
      <br />
      Cuando tres o más jugadores del equipo defensor formen una «barrera», los jugadores del equipo atacante deberán guardar al menos 1 m (1 yd) de distancia con respecto a la «barrera» hasta que el balón esté en juego.
    </p>
    <p>
      <br />
      Se podrá ejecutar un tiro libre elevando el balón con un solo pie o con los dos simultáneamente.
    </p>
    <p>
      <br />
      Fintar durante la ejecución de un tiro libre para confundir a los adversarios forma parte del juego y está permitido.
    </p>
    <p>
      <br />
      Si durante la ejecución correcta de un tiro libre el ejecutor golpeara voluntariamente el balón contra un adversario con la intención de jugarlo de nuevo, pero no lo hiciera de manera imprudente ni temeraria, ni empleando una fuerza excesiva, el árbitro permitirá que el juego continúe.
    </p>
  </ion-card-content>

  <ion-card-content *ngIf="pagina == 2">
    <h2>
      <b>3. Infracciones y sanciones</b>
    </h2>
    <p>
      <br />
      Si, al ejecutar un tiro libre, un adversario no respetara la distancia   reglamentaria del balón, se volverá a ejecutar el tiro a menos que se pueda conceder ventaja; no obstante, si un jugador ejecutara un tiro libre rápido y un adversario que se halla a menos de 9.15 m (10 yd) interceptara el balón, el árbitro permitirá que el juego continúe. No obstante, aquel adversario que obstaculice deliberadamente el saque de un tiro libre rápido deberá ser amonestado por retrasar la reanudación del juego.
    </p>
    <p>
      <br />
      Si, durante la ejecución de un tiro libre, algún jugador del equipo atacante estuviera situado a menos de 1 m (1 yd) de la barrera formada por tres o más jugadores del equipo defensor, se concederá un libre indirecto.
    </p>
    <p>
      <br />
      Si el equipo que defiende ejecutara un tiro libre dentro de su área penal y algún adversario se halla todavía dentro de dicha área  debido a  que  no  tuvo  tiempo de salir, el árbitro permitirá que el juego continúe. Si un adversario que se encuentra en el área penal cuando se ejecuta un tiro libre, o que entra en ella antes de que el balón esté en juego, tocara o disputara el balón antes de que     este esté en juego, se repetirá el tiro libre.
    </p>
    <p>
      <br />
      Si, una vez que el balón esté en juego, el ejecutor del tiro libre volviera a tocar   el balón antes de que lo toque otro jugador, se concederá libre indirecto, o en caso de que el ejecutor cometa una infracción por mano:
    </p>
    <ul>
      <li>
        se concederá un libre directo;
      </li>
      <li>
        se concederá tiro penal si la infracción ocurrió dentro de su área penal, a menos que fuera el guardameta, en cuyo caso se concederá un libre indirecto.
      </li>
    </ul>
  </ion-card-content>

</ion-card>

<ion-fab class="temary-nav" vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button (click)="pagina = pagina-1" [disabled]="pagina == 0">
    <ion-icon name="chevron-back"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-fab class="temary-nav" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="pagina = pagina+1" [disabled]="pagina == 2">
    <ion-icon name="chevron-forward"></ion-icon>
  </ion-fab-button>
</ion-fab>

</ion-content>
